{% extends "public_nav.html" %}
{% block title %}<title>图谱分析 - 群体结果</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/grouptrue.css">
    <style type="text/css">
        #container #middle .midmid .condition .cdt4 span.dian {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #777;
            margin-left: 40px;说
        }
        #container #middle .midmid .condition .cdt4 .checkbox {
            margin: 0;
        }
        .In-table {
            width:100%!important;
        }
    </style>
{% endblock %}

{% block main %}
    <div id="container">
        <div class="present">
            <span class="preone">当前选择：<a class="preonemd" href="###">律师群体</a> ，</span>
            <span class="pretwo">共包含<a href="###" class="pretwomd">6</a>个人物</span>
            <div class="checkbox prethr" style="margin-left: 30px">
                <label>
                    <input type="checkbox" class="ptnew"/> 选择新群体
                </label>
                <div class="prethrmd" style="display: none;margin-left: 10px;">
                    <span class="ptm1">群体名称：</span>
                    <input type="text" id="ptm2"/>
                    <button class="ptm3">确定</button>
                </div>
            </div>
        </div>
        <div id="middle">
            <div class="midleft">
                <p class="conevents">包含事件</p>
                <div id="eventimg">

                </div>
            </div>
            <div class="midmid">
                <p class="pane">交互面板</p>
                <div class="condition">
                    <!--111-->
                    <span class="cdt1" style="display: block;margin: 5px 0 0 20px;color: #777;font-size: 14px">节点筛选</span>
                    <div class="cdt2">
                        <div class="checkbox">
                            <label style="display: block;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                <input id='user' class="per" type="checkbox" checked/> 人物
                            </label>
                            <label style="display: block;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                <input id="event" class="per" type="checkbox"/> 事件
                            </label>
                        </div>
                    </div>
                    <!--222-->
                    <span class="cdt3" style="display: block;margin: 5px 0 0 20px;color: #777;font-size: 14px">关系筛选</span>
                    <div class="cdt4">
                        <div class="checkbox">
                            <span class="dian"></span>
                            <span style='display:inline-block;margin: 5px 0 0 0px;color: #777;font-size: 12px;'>
                                人物 - 事件关系
                            </span>
                            <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                <input id='join' class="join" type="checkbox" checked/> 参与讨论
                            </label>
                            <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                <input id='pusher' class="pusher" type="checkbox" checked/> 趋势推动
                            </label>
                            <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                <input id='make' class="make" type="checkbox" checked/> 趋势制造
                            </label>
                            <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                <input id='other' class="other" type="checkbox" checked/> 其他关系
                            </label>
                        </div>
                        <div class="checkbox" class='evnt'>
                            <span class="dian"></span>
                            <span style='display: inline-block;margin: 5px 0 0 0px;color: #777;font-size: 12px;'>
                                人物 - 人物关系
                            </span>
                            <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                <input id='friend' class="emain" type="checkbox" checked/> 交互
                            </label>
                            <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                <input id='relative' class="evother" type="checkbox" checked/> 亲属
                            </label>
                            <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                <input id='colleague' class="emain" type="checkbox" checked/> 业务关联
                            </label>
                            <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                <input id='user_tag' class="evother" type="checkbox" checked/> 其他
                            </label>
                        </div>
                    </div>
                    <!--333-->
                    <span class="cdt3" style="display: block;margin: 5px 0 0 20px;color: #777;font-size: 14px">节点扩展</span>
                    <div class="cdt4">
                        <div class="radio" style="display: block;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                            <label>
                                <input type="radio" name="yier" id="zero" value="option1"
                                checked>
                                不扩展
                            </label>
                        </div>
                        <div class="radio" style="display: block;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                            <label>
                                <input type="radio" name="yier" id="onecg" value="option1">
                                扩展一层
                            </label>
                        </div>
                        <div class="radio" style="display: block;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                            <label>
                                <input type="radio" name="yier" id="twocg" value="option2">
                                扩展二层
                            </label>
                        </div>
                    </div>
                    <!--444-->
                    <button class="cdt5" style='margin-top:7px;'>确定</button>
                </div>
            </div>
            <div class="midright" style="margin-right: 0">
                <p class="place" style="position: relative;left: 300px;">地区分布</p>
                <div id="placeimg">

                </div>
            </div>
        </div>
        <div id="similar">
            <p class="simtop">
                <button class="include" style="background-color: #00cc66;">包含人物</button><!--
                    --><button class="same">相似人物</button>
            </p>
            <div class="definite">
                <div class="defone">
                    <div class="radio" style="display:inline-block;margin-left: 30px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                        <label class="radio-inline">
                            <input type="radio" name="inOptions" id='zhongyao' value="option2" checked> 重要度
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inOptions" id='huoyue' value="option1"> 活跃度
                        </label>
                        
                        <label class="radio-inline">
                            <input type="radio" name="inOptions" id='mingan' value="option3"> 敏感度
                        </label>
                        
                    </div>
                </div>
                <div class="deftwo">
                    <div class="sjmr1">
                        <img src="/static/image/left.png" alt="" class="left">
                        <div id="case" style="display: inline-block;width:1050px;overflow: hidden;">
                            <div id="run" style="width: 2100px;">
                               
                            </div>
                        </div>
                        <img src="/static/image/right.png" alt="" class="right">
                    </div>
                </div>
            </div>
            <div class="samevent" style="display: none;">
                <div class="sameone">
                    <div class="radio" style="display:inline-block;margin-left: 30px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadio" value="option1" checked> 相似度
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadio" value="option2"> 发生时间
                        </label>
                    </div>
                    <p class="direct1" style='float:right;font-size:12px;color: #9d9d9d;margin-right: 90px;'>
                        <!-- <label class="radio-inline">
                            <input type="radio" name="rose" value="option1"> 1跳
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rose" value="option2"> 2跳
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rose" value="option2" checked> 全部
                        </label> -->
                        <button class="add22" type="button" data-toggle="modal">添加</button>
                    </p>
                </div>
                <div class="sametwo">
                    <div class="sjmr1">
                        <img src="/static/image/left.png" alt="" class="left">
                        <div id="case1" style="display: inline-block;width:1050px;overflow: hidden;">
                            <div id="run1" style="width: 2100px;">
                                <div class="play">
                                    <div class="play1">
                                        <div class="p11">
                                            <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                            --><img src="/static/image/dingwei.png" alt=""><!--
                                            --><span class="difang" style="font-size: 8px">山东</span><!--
                                            --><img class="xin" src="/static/image/heart.png" alt="">
                                        </div>
                                        <div class="p22">
                                            <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                            <span class="riqi">2016-08-19</span>
                                        </div>
                                    </div>
                                    <img class="play2" src="/static/image/xuyuyu.png" alt="">
                                    <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                        <a class="bus1">业务标签：</a>
                                        <a class="bus2">诈骗</a>
                                        <a class="bus2">大学生</a>
                                        <a class="bus2">离世</a>
                                    </div>
                                    <div class="play4">
                                        <p class="shuoming">
                                            徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                        </p>
                                    </div>
                                    <div class="play5" type="button" data-toggle="modal">
                                        <a>加入专题</a>
                                    </div>
                                </div>
                                <div class="play">
                                    <div class="play1">
                                        <div class="p11">
                                            <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                            --><img src="/static/image/dingwei.png" alt=""><!--
                                            --><span class="difang" style="font-size: 8px">山东</span><!--
                                            --><img class="xin" src="/static/image/heart.png" alt="">
                                        </div>
                                        <div class="p22">
                                            <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                            <span class="riqi">2016-08-19</span>
                                        </div>
                                    </div>
                                    <img class="play2" src="/static/image/xuyuyu.png" alt="">
                                    <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                        <a class="bus1">业务标签：</a>
                                        <a class="bus2">诈骗</a>
                                        <a class="bus2">大学生</a>
                                        <a class="bus2">离世</a>
                                    </div>
                                    <div class="play4">
                                        <p class="shuoming">
                                            徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                        </p>
                                    </div>
                                    <div class="play5" type="button" data-toggle="modal">
                                        <a>加入专题</a>
                                    </div>
                                </div>
                                <div class="play">
                                    <div class="play1">
                                        <div class="p11">
                                            <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                            --><img src="/static/image/dingwei.png" alt=""><!--
                                            --><span class="difang" style="font-size: 8px">山东</span><!--
                                            --><img class="xin" src="/static/image/heart.png" alt="">
                                        </div>
                                        <div class="p22">
                                            <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                            <span class="riqi">2016-08-19</span>
                                        </div>
                                    </div>
                                    <img class="play2" src="/static/image/xuyuyu.png" alt="">
                                    <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                        <a class="bus1">业务标签：</a>
                                        <a class="bus2">诈骗</a>
                                        <a class="bus2">大学生</a>
                                        <a class="bus2">离世</a>
                                    </div>
                                    <div class="play4">
                                        <p class="shuoming">
                                            徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                        </p>
                                    </div>
                                    <div class="play5" type="button" data-toggle="modal">
                                        <a>加入专题</a>
                                    </div>
                                </div>
                                <div class="play">
                                    <div class="play1">
                                        <div class="p11">
                                            <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                            --><img src="/static/image/dingwei.png" alt=""><!--
                                            --><span class="difang" style="font-size: 8px">山东</span><!--
                                            --><img class="xin" src="/static/image/heart.png" alt="">
                                        </div>
                                        <div class="p22">
                                            <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                            <span class="riqi">2016-08-19</span>
                                        </div>
                                    </div>
                                    <img class="play2" src="/static/image/xuyuyu.png" alt="">
                                    <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                        <a class="bus1">业务标签：</a>
                                        <a class="bus2">诈骗</a>
                                        <a class="bus2">大学生</a>
                                        <a class="bus2">离世</a>
                                    </div>
                                    <div class="play4">
                                        <p class="shuoming">
                                            徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                        </p>
                                    </div>
                                    <div class="play5" type="button" data-toggle="modal">
                                        <a>加入专题</a>
                                    </div>
                                </div>
                                <div class="play">
                                    <div class="play1">
                                        <div class="p11">
                                            <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                            --><img src="/static/image/dingwei.png" alt=""><!--
                                            --><span class="difang" style="font-size: 8px">山东</span><!--
                                            --><img class="xin" src="/static/image/heart.png" alt="">
                                        </div>
                                        <div class="p22">
                                            <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                            <span class="riqi">2016-08-19</span>
                                        </div>
                                    </div>
                                    <img class="play2" src="/static/image/xuyuyu.png" alt="">
                                    <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                        <a class="bus1">业务标签：</a>
                                        <a class="bus2">诈骗</a>
                                        <a class="bus2">大学生</a>
                                        <a class="bus2">离世</a>
                                    </div>
                                    <div class="play4">
                                        <p class="shuoming">
                                            徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                        </p>
                                    </div>
                                    <div class="play5" type="button" data-toggle="modal">
                                        <a>加入专题</a>
                                    </div>
                                </div>
                                <div class="play">
                                    <div class="play1">
                                        <div class="p11">
                                            <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                            --><img src="/static/image/dingwei.png" alt=""><!--
                                            --><span class="difang" style="font-size: 8px">山东</span><!--
                                            --><img class="xin" src="/static/image/heart.png" alt="">
                                        </div>
                                        <div class="p22">
                                            <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                            <span class="riqi">2016-08-19</span>
                                        </div>
                                    </div>
                                    <img class="play2" src="/static/image/xuyuyu.png" alt="">
                                    <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                        <a class="bus1">业务标签：</a>
                                        <a class="bus2">诈骗</a>
                                        <a class="bus2">大学生</a>
                                        <a class="bus2">离世</a>
                                    </div>
                                    <div class="play4">
                                        <p class="shuoming">
                                            徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                        </p>
                                    </div>
                                    <div class="play5" type="button" data-toggle="modal">
                                        <a>加入专题</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="/static/image/right.png" alt="" class="right">
                    </div>
                </div>
            </div>
        </div>
        <div id="people">
            <p class="peone">
                <button class="include" style="background-color: #00cc66;">关联事件</button>
            </p>
            <div class="peotwo">
                <div class="peotwo1">
                    <div class="radio" style="display:inline-block;margin-left: 30px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                       <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="fasheng2" checked> 发生时间
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="canyu2"> 参与人数
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="redu2"> 热度
                        </label>
                    </div>
                    <p class="direct1" style='float:right;font-size:12px;color: #9d9d9d;margin-right: 90px;'>
                        <label class="radio-inline">
                            <input type="radio" name="stone" value="option1"> 1跳
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="stone" value="option2"> 2跳
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="stone" value="option2" checked> 全部
                        </label>
                        <button class="add22" type="button" data-toggle="modal">添加</button>
                    </p>
                </div>
                <div class="peotwo2">
                    <div class="sjmr1">
                        <img src="/static/image/left.png" alt="" class="left">
                        <div id="case2" style="display: inline-block;width:1050px;overflow: hidden;">
                            <div id="run2" style="width: 2100px;">
                            </div>  
                        </div>
                        <img src="/static/image/right.png" alt="" class="right">
                    </div>
                </div>
            </div>
        </div>
        
        
        <style>
            #container #total .taltwo {
                /*height: 560px;*/
                padding: 30px 10px 30px 30px;
            }
            #container #total .twleft {
                display: inline-block;
                position: relative;
                top: -100px;
                right: -5px;
            }
            #container #total .twleft p {
                width: 28px;
                text-align: center;
                padding: 5px;
                background-color: #0099ff;
                color: white;
                font-weight: 700;
                border-radius: 5px;
                border: 1px solid #337ab7;
                margin-top: 40px;
            }
            #container #total .twright,#container #total .twright2 {
                display: inline-block;
                width: 1100px;
                /*height: 520px;*/
                border: 1px solid #9d9d9d;
                border-radius: 10px;
                padding:30px;
            }
            #container #total .twleft .lftwo {
                background-color: #00cc66;
                margin-top: 10px;
            }
            #container #total .twright .twr1,#container #total .twright2 .twr1 {
                padding: 10px 30px 20px;
                border-radius: 10px;
            }
            #container #total .twright .twr1 .master,#container #total .twright2 .twr1 .master {
                color: #4b4b4b;
                font-weight: 700;
                margin: 10px 0 20px 0;
            }
            #container #total .twright .twr1 .time,#container #total .twright2 .twr1 .time {
                color: black;
                font-size: 10px;
            }
        </style>
        <div id="total">
            <p class="talone">
                <button class="all" style="background-color: #00cc66;">相关微博</button>
            </p>
            <div class="taltwo">
                <div class="twleft">
                    <p class="lfone">高影响力微博</p>
                    <p class="lftwo">敏感微博</p>
                </div>
                <div class="twright">
                    <div id="group_emotion_loading" style="display:block;text-align:center;">
                        正在加载，请稍后...
                    </div>
                    <div id="influeweibo" style="overflow-x: auto; overflow-y: auto;height:320px;">
                        <table id="input-table" class="In-table">
                            <tbody class="In-table">
                            </tbody>
                        </table>
                    </div>
                    <div class='fanye' style="width:100%;text-align:center;">
                          <span style="display:inline-block;">每页显示<input type="text" id="PageNo" size="3" value="3" style='text-align:center;border:1px solid #ccc;'/>组</span>
                          <div id="div-button" style="display:inline-block;margin-left:5px;">
                          <input type="button" value="首页" id="F-page" style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                          <input type="button" value="上一页" id="Pre-page" style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                          <input type="button" value="下一页" id="Nex-page" style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                          <input type="button" value="尾页" id="L-page" style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                    </div>

                    <span style="display:inline-block;">&nbsp;当前第<span id="s2"></span>页</span>
                    <span style="display:inline-block;">总共<span id="s1"></span>页</span>
                    <!-- <div class="twr1">
                        <p class="master">
                            微博内容：
                            <span class="master1">
                                学渣：“人活在世上，就是要做正确的选择！”老师：“这就是你判断题全部打钩的原因？”
                            </span>
                        </p>
                        <p class="time">
                            <span class="time1">来自微博用户：</span>&nbsp;&nbsp;
                            <a class="time2">唐老鸭</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="time3">发表于&nbsp;&nbsp;<i>2016-12-1</i></span>
                            <span class="time4" style="display: inline-block;margin-left: 30%">转发数（213）</span>|&nbsp;
                            <span class="time5">评论数（56）</span>|&nbsp;
                            <span class="time6">言论敏感度（87）</span>
                        </p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="join6" tabindex="-3">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">编辑专题</h2>
            </div>
            <div class="modal-body">
                <div class="xinzeng" style="margin-top: 20px;padding-left: 20px;">
                            <!-- <p class="tit">新建专题</p> -->
                            <form style="margin-left: 40px;">
                                <span class="xz1">群体名称</span>
                                <select name="" id="list1" onchange='check(this.value)'>
                                    <option value="" disabled selected>请选择群体名称</option> 
                                    <option value="新建群体">新建群体</option>
                                    <option value="律师群体">律师群体</option>
                                </select>
                                <input type="text" class="shuru2" placeholder="请输入群体名称"/>
                            </form>
                            <div class="shij">
                                <span class="sjr">加入人物</span>
                                <a class="sj1">邓海峰 <b class="icon icon-remove det"></b> </a>
                                <a class="sj2">潘强 <b class="icon icon-remove det"></b> </a>
                            </div>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join4" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">温馨提示</h2>
            </div>
            <div class="modal-body">
                <p>您已选择此专题，选择完毕后请点击右上角 “ 添加 ” 按钮，加入到专题中O(∩_∩)O<br>
                    如您不需要可以再次点击取消选择专题</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join5" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">添加提示</h2>
            </div>
            <div class="modal-body">
                <p>您确定添加吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="join5" tabindex="-1">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">编辑专题</h2>
            </div>
            <div class="modal-body">
                <div class="xinzeng" style="margin-top: 20px;padding-left: 20px;"> -->
                    <!-- <p class="tit">专题编辑</p>
                    <form style="margin-left: 40px;">
                        <span class="xz1">专题名称</span>
                        <select name="" id="list1" onchange='check2(this.value)'>
                            <option value="" disabled selected>请选择专题名称</option> 
                            <option value="新建专题">新建专题</option>
                            <option value="电信诈骗">电信诈骗</option>
                        </select>
                        <input type="text" class="shuru2" placeholder="请输入专题名称" style='display:none'/>
                    </form>
                    <div class="shij">
                        <span class="sjr">加入事件</span>
                        <a class="sj1">徐玉玉事件 <b class="icon icon-remove det"></b> </a>
                        <a class="sj2">大学生失联 <b class="icon icon-remove det"></b> </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}
{% block my_js %}

<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=oHDtLqS40HV7dTqlNWYUc5IYvSLq60pS">
</script>-->
<script src="/static/js/proults.js"></script>
<script src="/static/js/grouptrue2.js"></script>
<script type="text/javascript">
function getLocalTime(nS) {
    return new Date(parseInt(nS) * 1000).toLocaleString().substr(0,20)
};

   function gaoyingxiangliweibo() {
        function place() {
            //this.ajax_method='GET'; // body...
        }
        place.prototype= {
            call_request:function(url,callback) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    async: true,
                    success:callback
                });
            },
        };
        function territory(data) {
            var data=eval(data);
            Draw_weibo_table(data);
        };
        var place=new place();
        
        function nums(s) {
            var url;
            if (s==1) {
                url = '/group/group_weibo/?group_name='+'法律人士'+'&sort_flag=retweeted';
            }else {
                url = '/group/group_weibo/?group_name='+'法律人士'+'&sort_flag=sensitive';
            };
        
            place.call_request(url,territory);
        }
        nums(1);
        $("#container #total .twleft .lfone").on('click',function () {
            // $("#container #total .twright").empty();
            nums(1);
        });
        $("#container #total .twleft .lftwo").on('click',function () {
            // $("#container #total .twright").empty();
            nums(2);
        });
        function Draw_weibo_table(data){
          $('#group_emotion_loading').css('display', 'none');
          $('#input-table').show();
          var dataArray = data;
          var PageNo=document.getElementById('PageNo');                   //设置每页显示行数
          var InTb=document.getElementById('input-table');               //表格
          var Fp=document.getElementById('F-page');                      //首页
          var Nep=document.getElementById('Nex-page');                  //下一页
          var Prp=document.getElementById('Pre-page');                  //上一页
          var Lp=document.getElementById('L-page');                     //尾页
          var S1=document.getElementById('s1');                         //总页数
          var S2=document.getElementById('s2');                         //当前页数
          var currentPage;                                              //定义变量表示当前页数
          var SumPage;     

              if(PageNo.value!="")                                       //判断每页显示是否为空
              {
                  InTb.innerHTML='';                                     //每次进来都清空表格
                  S2.innerHTML='';                                        //每次进来清空当前页数
                  currentPage=1;                                          //首页为1
                  S2.appendChild(document.createTextNode(currentPage));
                  S1.innerHTML='';                                        //每次进来清空总页数
                  if(dataArray.length%PageNo.value==0)                    //判断总的页数
                  {
                      SumPage=parseInt(dataArray.length/PageNo.value);
                  }
                  else
                  {
                      SumPage=parseInt(dataArray.length/PageNo.value)+1
                  }
                  S1.appendChild(document.createTextNode(SumPage));
                  var oTBody=document.createElement('tbody');               //创建tbody
                  oTBody.setAttribute('class','In-table');                   //定义class
                  InTb.appendChild(oTBody);
                  //将创建的tbody添加入table
                  var html_c = '';
                  if(dataArray==''){
                    html_c = "<div style='width:100%;'><span><img src='/static/img/pencil-icon.png' style='height:12px;width:12px;margin:0px;margin-right:8px;float:left;'>用户未发布任何微博</span></div>";
                      oTBody.innerHTML = html_c;
                }else{
            
                  for(i=0;i<parseInt(PageNo.value);i++)
                  {                                                          //循环打印数组值
                      oTBody.insertRow(i);
                    var name;
                    if (dataArray[i].uname==''||dataArray[i].uname=='unknown') {
                        name=dataArray[i].uid;
                    }else {
                        name=dataArray[i].uname;
                    };
                      html_c = '<div class="twr1">'+
'                        <p class="master">'+
'                            微博内容：'+
'                            <span class="master1">'+
                        dataArray[i].text+
'                            </span>'+
'                        </p>'+
'                        <p class="time">'+
'                            <span class="time1">来自微博用户：</span>&nbsp;&nbsp;'+
'                            <a class="time2">'+name+'</a>&nbsp;&nbsp;&nbsp;&nbsp;'+
'                            <span class="time3">发表于&nbsp;&nbsp;<i>'+
                            getLocalTime(dataArray[i].timestamp)+'</i></span>'+
                            '<span style="display: inline-block;float:right;">'+
'                            <span class="time4">转发数（'+dataArray[i].retweeted+'）</span>|&nbsp;'+
'                            <span class="time5">评论数（'+dataArray[i].comment+'）</span>|&nbsp;'+
'                            <span class="time6">言论敏感度（'+dataArray[i].sensitive+'）</span></span>'+
'                        </p>'+
'                    </div>';
                         oTBody.rows[i].insertCell(0);
                         oTBody.rows[i].cells[0].innerHTML = html_c;                    
                  }
              }
          }
           Fp.onclick=function()
          {

              if(PageNo.value!="")                                       //判断每页显示是否为空
              {
                  InTb.innerHTML='';                                     //每次进来都清空表格
                  S2.innerHTML='';                                        //每次进来清空当前页数
                  currentPage=1;                                          //首页为1
                  S2.appendChild(document.createTextNode(currentPage));
                  S1.innerHTML='';                                        //每次进来清空总页数
                  if(dataArray.length%PageNo.value==0)                    //判断总的页数
                  {
                      SumPage=parseInt(dataArray.length/PageNo.value);
                  }
                  else
                  {
                      SumPage=parseInt(dataArray.length/PageNo.value)+1
                  }
                  S1.appendChild(document.createTextNode(SumPage));
                  var oTBody=document.createElement('tbody');               //创建tbody
                  oTBody.setAttribute('class','In-table');                   //定义class
                  InTb.appendChild(oTBody);                                     //将创建的tbody添加入table
                  var html_c = '';

                  if(dataArray==''){
                    html_c = "<div style='width:100%;'><span style='margin-left:20px;'>用户未发布任何微博</span></div>";
                      oTBody.rows[0].cells[0].innerHTML = html_c;
                }else{
            
                  for(i=0;i<parseInt(PageNo.value);i++)
                  {                                                          //循环打印数组值
                      oTBody.insertRow(i);
                    var name;
                    if (dataArray[i].uname==''||dataArray[i].uname=='unknown') {
                        name=dataArray[i].uid;
                    }else {
                        name=dataArray[i].uname;
                    };
                      html_c = '<div class="twr1">'+
'                        <p class="master">'+
'                            微博内容：'+
'                            <span class="master1">'+
                        dataArray[i].text+
'                            </span>'+
'                        </p>'+
'                        <p class="time">'+
'                            <span class="time1">来自微博用户：</span>&nbsp;&nbsp;'+
'                            <a class="time2">'+name+'</a>&nbsp;&nbsp;&nbsp;&nbsp;'+
'                            <span class="time3">发表于&nbsp;&nbsp;<i>'+
                            getLocalTime(dataArray[i].timestamp)+'</i></span>'+
                            '<span style="display:inline-block;float:right;">'+
'                            <span class="time4">转发数（'+dataArray[i].retweeted+'）</span>|&nbsp;'+
'                            <span class="time5">评论数（'+dataArray[i].comment+'）</span>|&nbsp;'+
'                            <span class="time6">言论敏感度（'+dataArray[i].sensitive+'）</span></span>'+
'                        </p>'+
'                    </div>';
                         oTBody.rows[i].insertCell(0);
                         oTBody.rows[i].cells[0].innerHTML = html_c;                    
                  }
              }
          }
          }
          Nep.onclick=function()
          {
              if(currentPage<SumPage)                                 //判断当前页数小于总页数
              {
                  InTb.innerHTML='';
                  S1.innerHTML='';
                  if(dataArray.length%PageNo.value==0)
                  {
                      SumPage=parseInt(dataArray.length/PageNo.value);
                  }
                  else
                  {
                      SumPage=parseInt(dataArray.length/PageNo.value)+1
                  }
                  S1.appendChild(document.createTextNode(SumPage));
                  S2.innerHTML='';
                  currentPage=currentPage+1;
                  S2.appendChild(document.createTextNode(currentPage));
                  var oTBody=document.createElement('tbody');
                  oTBody.setAttribute('class','In-table');
                  InTb.appendChild(oTBody);
                  var a;                                                 //定义变量a
                  a=PageNo.value*(currentPage-1);                       //a等于每页显示的行数乘以上一页数
                  var c;                                                  //定义变量c
                  if(dataArray.length-a>=PageNo.value)                  //判断下一页数组数据是否小于每页显示行数
                  {
                      c=PageNo.value;
                  }
                  else
                  {
                      c=dataArray.length-a;
                  }
                  for(i=0;i<c;i++)
                  {
                         oTBody.insertRow(i);
                         var name;
                    if (dataArray[i].uname==''||dataArray[i].uname=='unknown') {
                        name=dataArray[i].uid;
                    }else {
                        name=dataArray[i].uname;
                    };
                          oTBody.rows[i].insertCell(0);
                        html_c = '<div class="twr1">'+
'                        <p class="master">'+
'                            微博内容：'+
'                            <span class="master1">'+
                        dataArray[i+a].text+
'                            </span>'+
'                        </p>'+
'                        <p class="time">'+
'                            <span class="time1">来自微博用户：</span>&nbsp;&nbsp;'+
'                            <a class="time2">'+name+'</a>&nbsp;&nbsp;&nbsp;&nbsp;'+
'                            <span class="time3">发表于&nbsp;&nbsp;<i>'+
                            getLocalTime(dataArray[i+a].timestamp)+'</i></span>'+
                            '<span style="float:right;display:inline-block;">'+
'                            <span class="time4">转发数（'+dataArray[i+a].retweeted+'）</span>|&nbsp;'+
'                            <span class="time5">评论数（'+dataArray[i+a].comment+'）</span>|&nbsp;'+
'                            <span class="time6">言论敏感度（'+dataArray[i+a].sensitive+'）</span></span>'+
'                        </p>'+
'                    </div>';
                        oTBody.rows[i].cells[0].innerHTML = html_c;                      
                                                                         //数组从第i+a开始取值
                  }
              }
          }

          Prp.onclick=function()
          {
              if(currentPage>1)                        //判断当前是否在第一页
              {
                  InTb.innerHTML='';
                  S1.innerHTML='';
                  if(dataArray.length%PageNo.value==0)
                  {
                      SumPage=parseInt(dataArray.length/PageNo.value);
                  }
                  else
                  {
                      SumPage=parseInt(dataArray.length/PageNo.value)+1
                  }
                  S1.appendChild(document.createTextNode(SumPage));
                  S2.innerHTML='';
                  currentPage=currentPage-1;
                  S2.appendChild(document.createTextNode(currentPage));
                  var oTBody=document.createElement('tbody');
                  oTBody.setAttribute('class','In-table');
                  InTb.appendChild(oTBody);
                  var a;
                  a=PageNo.value*(currentPage-1);
                  for(i=0;i<parseInt(PageNo.value);i++)
                  {
                      oTBody.insertRow(i);
                      var name;
                    if (dataArray[i].uname==''||dataArray[i].uname=='unknown') {
                        name=dataArray[i].uid;
                    }else {
                        name=dataArray[i].uname;
                    };
                      oTBody.rows[i].insertCell(0);
                      html_c = '<div class="twr1">'+
'                        <p class="master">'+
'                            微博内容：'+
'                            <span class="master1">'+
                        dataArray[i+a].text+
'                            </span>'+
'                        </p>'+
'                        <p class="time">'+
'                            <span class="time1">来自微博用户：</span>&nbsp;&nbsp;'+
'                            <a class="time2">'+name+'</a>&nbsp;&nbsp;&nbsp;&nbsp;'+
'                            <span class="time3">发表于&nbsp;&nbsp;<i>'+
                            getLocalTime(dataArray[i+a].timestamp)+'</i></span>'+
                            '<span style="float:right;display:inline-block;">'+
'                            <span class="time4">转发数（'+dataArray[i+a].retweeted+'）</span>|&nbsp;'+
'                            <span class="time5">评论数（'+dataArray[i+a].comment+'）</span>|&nbsp;'+
'                            <span class="time6">言论敏感度（'+dataArray[i+a].sensitive+'）</span></span>'+
'                        </p>'+
'                    </div>';
                        oTBody.rows[i].cells[0].innerHTML = html_c;
                  }
              }
          }

           Lp.onclick=function()
          {
                  InTb.innerHTML='';
                  S1.innerHTML='';
                  if(dataArray.length%PageNo.value==0)
                  {
                      SumPage=parseInt(dataArray.length/PageNo.value);
                  }
                  else
                  {
                      SumPage=parseInt(dataArray.length/PageNo.value)+1
                  }
                  S1.appendChild(document.createTextNode(SumPage));
                  S2.innerHTML='';
                  currentPage=SumPage;
                  S2.appendChild(document.createTextNode(currentPage));
                  var oTBody=document.createElement('tbody');
                  oTBody.setAttribute('class','In-table');
                  InTb.appendChild(oTBody);
                  var a;
                  a=PageNo.value*(currentPage-1);
                  var c;
                  if(dataArray.length-a>=PageNo.value)
                  {
                      c=PageNo.value;
                  }
                  else
                  {
                      c=dataArray.length-a;
                  }
                  for(i=0;i<c;i++)
                  {
                      oTBody.insertRow(i);
                      var name;
                    if (dataArray[i].uname==''||dataArray[i].uname=='unknown') {
                        name=dataArray[i].uid;
                    }else {
                        name=dataArray[i].uname;
                    };
                        oTBody.rows[i].insertCell(0);
                      html_c = '<div class="twr1">'+
'                        <p class="master">'+
'                            微博内容：'+
'                            <span class="master1">'+
                        dataArray[i+a].text+
'                            </span>'+
'                        </p>'+
'                        <p class="time">'+
'                            <span class="time1">来自微博用户：</span>&nbsp;&nbsp;'+
'                            <a class="time2">'+name+'</a>&nbsp;&nbsp;&nbsp;&nbsp;'+
'                            <span class="time3">发表于&nbsp;&nbsp;<i>'+
                            getLocalTime(dataArray[i+a].timestamp)+'</i></span>'+
                            '<span style="display:inline-block;float:right;">'+
'                            <span class="time4">转发数（'+dataArray[i+a].retweeted+'）</span>|&nbsp;'+
'                            <span class="time5">评论数（'+dataArray[i+a].comment+'）</span>|&nbsp;'+
'                            <span class="time6">言论敏感度（'+dataArray[i+a].sensitive+'）</span></span>'+
'                        </p>'+
'                    </div>';
                        oTBody.rows[i].cells[0].innerHTML = html_c;
                  }
          }

        }
    };
    gaoyingxiangliweibo();
</script>
{% endblock %}