{% extends "public_nav.html" %}
{% block title %}<title>图谱分析 - 群体探索</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/groupore.css">
    <style type="text/css">
        .groupore b,.groupore a {
            color: #09F!important;
        }
        #sheet th, #sheet td {
            text-align: center;
        }
        .page-list,.fixed-table-pagination .pagination-detail {
            display: none!important;
        }
        .table>thead:first-child>tr:first-child>th{
            width: 33.33%!important;
        }
    </style>
{% endblock %}

{% block main %}
    <div id="container">
        <div class="con_top">
            <div class="choose">
                <p class="ch1 gai" style='background-color: #4cae4c;'>群体概览</p>
                <p class="ch1 cha">群体查看</p>
                <p class="ch1 bian">群体编辑</p>
                <p class="ch1 jian">群体新建</p>
                <div class="tuli">
                    <div id="spread">

                    </div>
                </div>
            </div>
        </div>
        <div class="choose1" style='display:none;'>
            <!-- <p class="ch2">群体查看</p> -->
            <div class="menu">
                <span class="zhmi">群体名称</span>
                <form>
                    <select name="" id="list" onchange='qunti(this.value)'>
                        <option value="请选择群体名称" disabled selected>请选择群体名称</option>
                    </select>
                </form>
                <button class="msure">进入群体</button>
                <button class="compare">加入对比</button>
                <div id="condet" style='margin-top:20px;display:none;'>
                    <span class="condet1">加入对比群体（最多选择两个）：</span>
                    <!-- <span class="condet2"> <b class="icon icon-remove det"></b> </span>
                    <span class="condet3"> <b class="icon icon-remove det"></b> </span> -->
                    <button class="condet4">对比分析</button>
                </div>
            </div>
        </div>
        <div class="xinzeng" style="display:none;width: 1200px;padding: 20px 0;border: 1px solid #09F;
                            box-shadow: 3px 3px 3px #c9c2c7;">
            <!-- <p class="tit">新建专题</p> -->
            <form style="margin-left: 40px;">
                <span class="xz1">群体名称</span>
                <select name="" id="list1" onchange='qunti1(this.value)'>
                    <option value="请选择群体名称" disabled selected>请选择群体名称</option> 
                </select>
                <button style='display:inline-block;' 
            class="add99" type="button" data-toggle="modal">确定</button>
                <!-- <input type="text" class="shuru2" placeholder="请输入群体名称"/> -->
            </form>
            <div class="instr" style='height:400px;display:none;'>
                    <div id="sheet" 
                        style="padding-left:10px;float:left;width:340px;height:340px;margin:17px 0 0 0;position:relative;">
                        <div id='sheet2' style='width:100%;'></div>
                        <div>
                            <button class='add33 chulai'>添加新群体</button>
                        </div>
                    </div>
                    <div class="sjmr" id='tbrg'>
                        <div class="sjmr1">
                           <!--  <p class="direct1">
                                <label class="radio-inline">
                                  <input type="radio" name="inlineRadio" value="option1"> 1跳
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="inlineRadio" value="option2"> 2跳
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="inlineRadio" value="option2" checked> 全部
                                </label>
                                <button class="add22" type="button" data-toggle="modal">添加</button>
                            </p> -->
                            <img src="/static/image/left.png" alt="" class="left">
                            <div id="case2" style="display: inline-block;width:750px;height:360px;overflow: hidden;">
                                <div id='crmid2' style='width:1500px;'>
                                    <div id="run3" style="width: 1500px;float:left;">
                                        
                                    </div> 
                                </div>
                            </div>
                            <img src="/static/image/right.png" alt="" class="right">
                        </div>
                    </div>
            </div>
            <div class="add">
                <!-- <p class="add1">群体编辑</p> -->
                <div id="shijian2" style="display:none;width:1200px;">
                    <div class="sjt">
                        输入用户或事件名称
                        <input type="text" class="sjt1"/>
                        <button class="sjt2">确定</button>
                    </div>
                    <div class="bag" style='display:none;'>
                            <div id="site">

                            </div>
                            <div class="sjmr">
                                <div class="sjmr1">
                                    <p class="direct1">
                                        <label class="radio-inline">
                                          <input type="radio" name="shi" value="option1"> 1跳
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="shi" value="option2"> 2跳
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="shi" value="option2" checked> 全部
                                        </label>
                                        <button class="add22">添加</button>
                                    </p>
                                    <img src="/static/image/left.png" alt="" class="left">
                                    <div id="case" style="display: inline-block;width:750px;overflow: hidden;">
                                        <div id='crmid' style='width:1500px;'>
                                            <div id="run" style="">
                                               
                                        </div>
                                    </div>
                                    
                                </div>
                                <img src="/static/image/right.png" alt="" class="right">
                            </div>
                        </div>
                    </div>
                </div>                  
                <!-- <div class="shij">
                    <span class="sjr">加入人物</span>
                    <a class="sj1">邓海峰 <b class="icon icon-remove det"></b> </a>
                    <a class="sj2">潘强 <b class="icon icon-remove det"></b> </a>
                </div> -->
            </div>
    </div>
    <div class="con_bot" style='display:none;'>
                <div class="add">
                    <!-- <p class="add1">群体编辑</p> -->
                    <div id="shijian">
                        <div class="sjt">
                            输入用户或事件名称
                            <input type="text" class="sjt1"/>
                            <button class="sjt2">确定</button>
                        </div>
                        <div class="bag" style='display:none;'>
                            <div id="site2">

                            </div>
                            <div class="sjmr">
                                <div class="sjmr1">
                                    <p class="direct1">
                                        <label class="radio-inline">
                                          <input type="radio" name="inlineRadio" value="option1"> 1跳
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="inlineRadio" value="option2"> 2跳
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="inlineRadio" value="option2" checked> 全部
                                        </label>
                                        <button class="add22" type="button" data-toggle="modal">添加</button>
                                    </p>
                                </div>    
                                <img src="/static/image/left.png" alt="" class="left">
                                <div id="case" style="display: inline-block;width:750px;height:360px;overflow: hidden;">
                                    <div id='crmid' style='width:1500px;'>
                                        <div id="run" style="width: 750px;">
                                            
                                        </div>
                                    
                                    </div>
                                </div>
                                <img src="/static/image/right.png" alt="" class="right">
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="modal fade" id="join3" tabindex="-2">
        <div class="modal-dialog">
            <div class=modal-content>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h2 class="modal-title">温馨提示</h2>
                </div>
                <div class="modal-body">
                    <p>您已选择此专题，选择完毕后请点击右上角 “ 添加 ” 按钮，加入到群体中<br>
                        如您不需要可以再次点击取消选择群体</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
<style>
    .spreadbox thead {
        background-color: #0099FF;
    }
    .spreadbox th {
        color: white;
        font-weight: 900;
    }
    .spreadbox th,.spreadbox td {
        text-align: center;
    }
</style>
<div class="modal fade" id="join1" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">添加提示</h2>
            </div>
            <div class="modal-body">
                <p>您确定添加吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick='sureadd()'>
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="chengong" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">添加提示</h2>
            </div>
            <div class="modal-body">
                <p>添加成功</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="shibai" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">添加提示</h2>
            </div>
            <div class="modal-body">
                <p>添加失败</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join6" tabindex="-3">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">群体新建</h2>
            </div>
            <div class="modal-body">
                <div class="xinzeng xinjian" style="margin-top: 20px;padding-left: 20px;">
                            <!-- <p class="tit">新建专题</p> -->
                            <form style="margin-left: 40px;">
                                <span class="xz1">群体名称</span>
                                <!-- <select name="" id="list1" onchange='check(this.value)'>
                                    <option value="" disabled selected>请选择群体名称</option> 
                                    <option value="新建群体">新建群体</option>
                                    <option value="律师群体">律师群体</option>
                                </select> -->
                                <input type="text" class="shuru2" id='shuru2' placeholder="请输入群体名称"/>
                            </form>
                            <div class="shij">
                                <span class="sjr">加入人物</span>
                                <a class="sj1">邓海峰 <b class="icon icon-remove det"></b> </a>
                                <a class="sj2">潘强 <b class="icon icon-remove det"></b> </a>
                            </div>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick='sureadd2()'>
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join99" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">温馨提示</h2>
            </div>
            <div class="modal-body">
                <p>请您选择群体名称。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join111" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">温馨提示</h2>
            </div>
            <div class="modal-body">
                <p>请您输入正确的人物或事件名称。（不能为空）</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="del_ject" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">删除提示</h2>
            </div>
            <div class="modal-body">
                <p>您确定删除吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick='delete_yes()'>
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="del_cg" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">删除提示</h2>
            </div>
            <div class="modal-body">
                <p>删除成功</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="del_sb" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">删除提示</h2>
            </div>
            <div class="modal-body">
                <p>删除失败</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="liangge" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">温馨提示</h2>
            </div>
            <div class="modal-body">
                <p>您只能选择两个群体进行比较，不能多于或少于两个。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block my_js %}
    <script src="/static/js/groupore1.js"></script>
    <script src="/static/js/groupore2.js"></script>
    <script>
        $('.carousel').carousel({
            interval: 0
        });
        // $(".compare").on('click',function () {
        //     $('#condet').show(30);
        // });
        $("#shijian2 .add22").on('click',function () {
            $('#join1').modal("show");
        });
        $(".con_bot .add22").on('click',function () {
            $('#join6').modal("show");
            $(".xinjian").css({display:"block"});
        });
        $(".gai").on('click',function(){
            $(".tuli").show(20);
            $(".choose1").hide(20);
            $(".con_bot").hide(20);
            $(".xinzeng").hide(20);
            $(this).css({backgroundColor:"#4cae4c"});
            $(this).siblings('.ch1').css({backgroundColor:"#0099FF"});
        });
    $(".cha").on('click',function(){
        $(".tuli").hide(20);
        $(".con_bot").hide(20);
        $(".choose1").show(20);
        $(".xinzeng").hide(20);
        $(this).css({backgroundColor:"#4cae4c"});
        $(this).siblings('.ch1').css({backgroundColor:"#0099FF"});
    });
    $(".bian").on('click',function(){
        $(".tuli").hide(20);
        $(".choose1").hide(20);
        $(".con_bot").hide(20);
        $(".xinzeng").show(20);
        $(this).css({backgroundColor:"#4cae4c"});
        $(this).siblings('.ch1').css({backgroundColor:"#0099FF"});
    });
    $(".jian").on('click',function(){
        $(".tuli").hide(20);
        $(".choose1").hide(20);
        $(".con_bot").show(20);
        $(".xinzeng").hide(20);
        $(this).css({backgroundColor:"#4cae4c"});
        $(this).siblings('.ch1').css({backgroundColor:"#0099FF"});
    });
    // $(".add99").on('click',function () {
    //     $('.instr').show(20);
    // });
    $(".chulai").on('click',function () {
        $('#shijian2').show(20);
    });
    // $("#shijian2 .sjt2").on('click',function () {
    //     $('#shijian2 .bag').show(20);
    // });
    
        $.each($(".det"),function(index,item){
            $(item).on('click',function(){
                $(this).parent().fadeOut(300);
            });
        });
        // $('#container .con_bot .add #shijian .sjt .sjt2').on('click',function(){
        //     $('#container .con_bot .add #shijian .bag').slideDown(100);
        // });
        var heart=$("#container .play .play1 .p11 .xin");
        $.each(heart,function(index,item){
            var chan=1;
            $(item).on('click',function(){
                if (chan==1) {
                    $(this).attr('src','/static/image/focus.png');
                    chan=2;
                }else {
                    $(this).attr('src','/static/image/heart.png');
                    chan=1;
                }
                
            })
        });
        $('#container .left').hover(function () {
            $(this).attr('src','/static/image/left_hv.png');
        },function () {
            $(this).attr('src','/static/image/left.png');
        });
        $('#container .right').hover(function () {
            $(this).attr('src','/static/image/right_hv.png');
        },function () {
            $(this).attr('src','/static/image/right.png');
        });
        //
        var go = 22;
        $('#container .con_bot .add #shijian .bag .sjmr1 .right').on('click',function () {
            if(go==22){
                var plays=$("#container .con_bot .add #shijian .bag .sjmr1 #crmid");
                $(plays).css({
                    "-webkit-transform":"translateX(-750px)",
                    "-moz-transform":"translateX(-750px)",
                    "-ms-transform":"translateX(-750px)",
                    "-o-transform":"translateX(-750px)",
                    "transform":"translateX(-750px)",
                });
                go = 33;
            } else{
                var plays=$("#container .con_bot .add #shijian .bag .sjmr1 #crmid");
                $(plays).css({
                    "-webkit-transform":"translateX(0px)",
                    "-moz-transform":"translateX(0px)",
                    "-ms-transform":"translateX(0px)",
                    "-o-transform":"translateX(0px)",
                    "transform":"translateX(0px)",
                });
                go = 22;
            }
        });
        $('#container .con_bot .add #shijian .bag .sjmr1 .left').on('click',function () {
            if(go==22){
                var plays=$("#container .con_bot .add #shijian .bag .sjmr1 #crmid");
                $(plays).css({
                    "-webkit-transform":"translateX(-750px)",
                    "-moz-transform":"translateX(-750px)",
                    "-ms-transform":"translateX(-750px)",
                    "-o-transform":"translateX(-750px)",
                    "transform":"translateX(-750px)",
                });
                go = 33;
            } else{
                var plays=$("#container .con_bot .add #shijian .bag .sjmr1 #crmid");
                $(plays).css({
                    "-webkit-transform":"translateX(0px)",
                    "-moz-transform":"translateX(0px)",
                    "-ms-transform":"translateX(0px)",
                    "-o-transform":"translateX(0px)",
                    "transform":"translateX(0px)",
                });
                go = 22;
            }
        });
        //
        var play=$("#container .play");
        $.each(play,function (index,item) {
            $(item).hover(function () {
                $(item).find(".play5").css({
                    "-webkit-transform":"translateY(-40px)",
                    "-moz-transform":"translateY(-40px)",
                    "-ms-transform":"translateY(-40px)",
                    "-o-transform":"translateY(-40px)",
                    "transform":"translateY(-40px)",
                })
            },function () {
                $(item).find(".play5").css({
                    "-webkit-transform":"translateY(40px)",
                    "-moz-transform":"translateY(40px)",
                    "-ms-transform":"translateY(40px)",
                    "-o-transform":"translateY(40px)",
                    "transform":"translateY(40px)",
                })
            });
        });
        $.each(play,function (index,item) {
            var changecolor=1;
            $(item).find(".play5").on('click',function(){
                if (changecolor==1) {
                    $(this).parent('.play').css({backgroundColor:'#09F'});
                    changecolor=2;
                    $(this).find('a').text('取消专题');
                    $('#join3').modal("show");
                } else {
                    $(this).parent('.play').css({backgroundColor:'#d2dcf7'});
                    changecolor=1;
                    $(this).find('a').text('加入专题');
                }
            }); 
        });
        $.each($("#shijian2 .play"),function (index,item) {
            var changecolor=1;
            $(item).find(".play5").on('click',function(){
                if (changecolor==1) {
                    $(this).parent('.play').css({backgroundColor:'#09F'});
                    changecolor=2;
                    $(this).find('a').text('取消群体探索');
                    $('#join3').modal("show");
                } else {
                    $(this).parent('.play').css({backgroundColor:'#d2dcf7'});
                    changecolor=1;
                    $(this).find('a').text('加入群体探索');
                }
            }); 
        });
        $.each($(".con_bot .play"),function (index,item) {
            var changecolor=1;
            $(item).find(".play5").on('click',function(){
                if (changecolor==1) {
                    $(this).parent('.play').css({backgroundColor:'#09F'});
                    changecolor=2;
                    $(this).find('a').text('取消群体探索');
                    $('#join3').modal("show");
                } else {
                    $(this).parent('.play').css({backgroundColor:'#d2dcf7'});
                    changecolor=1;
                    $(this).find('a').text('加入群体探索');
                }
            }); 
        });
    
        $.each( $(".xingming"),function(index,item){
            $(item).on('click',function () {
                window.open('/index/person/');
            });
        })
       
    </script>
{% endblock %}