{% extends "public_nav.html" %}
{% block title %}<title>图谱探索 - 专题探索</title>{% endblock %}
{% block my_css %}
    <!-- <link rel="stylesheet" href="/static/css/daterangepicker.min.css"> -->
    <link rel="stylesheet" href="/static/css/analyze.css">
    <style>
    .analyze b,.analyze a {
        color: #09F!important;
    }
    #sheet th,#sheet td {
        text-align: center;
    }
    .page-list,.fixed-table-pagination .pagination-detail {
        display: none!important;
    }
    </style>
{% endblock %}

{% block main %}
<div id="container">
    <div class="con_top">
        <div class="choose">
            <p class="ch1 gai" style='background-color: #4cae4c;'>专题概览</p>
            <p class="ch1 cha">专题查看</p>
            <p class="ch1 bian">专题编辑</p>
            <p class="ch1 jian">专题新建</p>
            <div class="tuli">
                <div id="spread" type="button" data-toggle="modal">

                </div>
                
            </div>
        </div>
    </div>
    <div class="choose1" style='display:none;'>
        <!-- <p class="ch2">专题查看</p> -->
        <div class="menu">
            <span class="zhmi">专题名称</span>
            <form>
                <select name="" id="list" onchange='chakan(this.value)'>
                    <option value="" disabled selected>请选择专题名称</option> 
                
                </select>
            </form>
            <!-- <span id="wrapper">
                <div class="demo">
                    时间
                    <input id="date-range0" value="" placeholder="时间">
                </div>
            </span> -->
            <button class="msure">进入专题</button>
            <button class="compare">加入对比</button>
            <div id="condet" style="margin-top:20px;display:none;">
                <span class="condet1">加入对比专题（最多选择两个）：</span>
                <!-- <span class="condet2"> <b class="icon icon-remove det"></b> </span>
                <span class="condet3"> <b class="icon icon-remove det"></b> </span> -->
                <button class="condet4">对比分析</button>
            </div>
        </div>
    </div>
    <div class="xinzeng" style="width:1200px;padding:20px 0 20px 0;display:none;border: 1px solid #09F;
    box-shadow: 3px 3px 3px #c9c2c7;">
                    <!-- <p class="tit">专题编辑</p> -->
                    <form style="margin-left: 40px;display:inline-block;">
                        <span class="xz1">专题名称</span>
                        <select name="" id="list1" onchange='bianji(this.value)'>
                            <option value="请选择专题名称" disabled selected>请选择专题名称</option> 
                        </select>
                        <input type="text" class="shuru2" placeholder="请输入专题名称" style='display:none'/>
                    </form>
                    <!-- <div class="shij" style='display:inline-block;'>
                        <span class="sjr">加入事件</span>
                        <a class="sj1">徐玉玉事件 <b class="icon icon-remove det"></b> </a>
                        <a class="sj2">大学生失联 <b class="icon icon-remove det"></b> </a>
                    </div> -->
                    <button style='display:inline-block;' 
                            class="add99" type="button" data-toggle="modal">确定</button>
                    <div class="instr" style='height:400px;display:none;'>
                        <div id="sheet" 
                        style="padding-left:10px;float:left;width:340px;height:340px;margin:17px 0 0 0;position:relative;">
                            <div id='sheet2' style='width:100%;'></div>
                            <div>
                                <button class='add33 chulai'>
                                    添加新事件
                                </button>
                            </div>
                        </div> 
                        <div class="sjmr" style='margin-left:5px;'>
                            <div class="sjmr1">
                                <!-- <p class="direct1">
                                    <label class="radio-inline">
                                      <input type="radio" name="iuasdh" value="option1"> 1跳
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="iuasdh" value="option2"> 2跳
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="iuasdh" value="option2" checked=""> 全部
                                    </label>
                                    <button class="add22" type="button" data-toggle="modal">添加</button>
                                </p> -->
                                <img src="/static/image/left.png" style="" class="left">
                                <div id="case" style="display: inline-block;width:750px;height:340px;overflow: hidden;">
                                    <div id="crmid" style="width:1500px;">
                                        <div id="run" style="width: 750px;height:340px;float:left;">
                                            
                                        </div>
                                    </div>
                                </div>
                                <img src="/static/image/right.png" style="" class="right">
                            </div>                                        
                        </div>
                          
                    </div>
                    <div id="shijian2" style='display:none;border:none;margin-top:20px;box-shadow:none;'>
                            <div class="sjt">
                                输入用户或事件名称
                                <input type="text" class="sjt1">
                                <button class="sjt2">确定</button>
                            </div>
                            <div class="bag" style='display:none;'>
                                <div id="site"></div>
                                <div class="sjmr">
                                    <div class="sjmr1">
                                        <p class="direct1">
                                            <label class="radio-inline">
                                              <input type="radio" name="code" id="one"> 1跳
                                            </label>
                                            <label class="radio-inline">
                                              <input type="radio" name="code" id="two"> 2跳
                                            </label>
                                            <label class="radio-inline">
                                              <input type="radio" name="code" id="all" checked> 全部
                                            </label>
                                            <button class="add44">添加</button>
                                        </p>
                                        <img src="/static/image/left.png" alt="" class="left">
                                        <div id="case" style="display: inline-block;width:750px;overflow: hidden;">
                                            <div id="crmid" style="width:1500px;">
                                                <div id="run12" style="width: 750px;height:340px;float:left;">
                                                    
                                                </div>
                                        
                                            </div>
                                        </div>
                                        <img src="/static/image/right.png" alt="" class="right">
                                    </div>
                            
                                </div>
                            </div>
                        </div>                     
                </div>
    <div class="con_bot" style="display:none;">
        <div class="add">
            <!-- <p class="add1">专题编辑</p> -->
            <div id="shijian">
                <div class="sjt">
                    输入用户或事件名称
                    <input type="text" class="sjt1"/>
                    <button class="sjt2">确定</button>
                </div>
                <div class="bag" style='display:none;'>
                    <div id="site2">

                    </div>
                    <div class="sjmr">
                        <div class="sjmr1">
                            <p class="direct1">
                                <label class="radio-inline">
                                  <input type="radio" name="reio" value="option1"> 1跳
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="reio" value="option2"> 2跳
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="reio" value="option2" checked> 全部
                                </label>
                                <button class="add22" type="button" data-toggle="modal">添加</button>
                            </p>
                            <img src="/static/image/left.png" alt="" class="left">
                            <div id="case" style="display: inline-block;width:750px;height:360px;overflow: hidden;">
                                <div id='crmid' style='width:1500px;'>
                                    <div id="run33" style="width: 750px;">
                                        
                                    </div>
                                </div>
                            </div>
                            <img src="/static/image/right.png" alt="" class="right">
                        </div>
                
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="join" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">专题新建</h2>
            </div>
            <div class="modal-body">
                <div class="xinzeng xinjian" style="margin-top: 20px;padding-left: 20px;">
                    <!-- <p class="tit">专题编辑</p> -->
                    <form style="margin-left: 40px;">
                        <span class="xz1">专题名称</span>
                        <!-- <select name="" id="list1">
                            <option value="" disabled selected>请选择专题名称</option> 
                            <option value="电信诈骗">电信诈骗</option>
                        </select> -->
                        <input type="text" class="shuru2" id='shuru2' placeholder="请输入专题名称"/>
                    </form>
                    <div class="shij">
                        <span class="sjr">加入事件</span>
                        <a class="sj1">徐玉玉事件 <b class="icon icon-remove det"></b> </a>
                        <a class="sj2">大学生失联 <b class="icon icon-remove det"></b> </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick='theme_add2()'>
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join1" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">添加提示</h2>
            </div>
            <div class="modal-body">
                <p>您确定添加吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick='theme_add()'>
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join2" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">温馨提示</h2>
            </div>
            <div class="modal-body">
                <p>您已选择此专题，选择完毕后请点击右上角 “ 添加 ” 按钮，加入到专题中O(∩_∩)O<br>
                    如您不需要可以再次点击取消选择专题</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join3" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">温馨提示</h2>
            </div>
            <div class="modal-body">
                <p>请您输入正确的人物或事件名称。（不能为空）</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join99" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">温馨提示</h2>
            </div>
            <div class="modal-body">
                <p>请您选择专题名称。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="del_ject" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">删除提示</h2>
            </div>
            <div class="modal-body">
                <p>您确定删除吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick='delete_yes()'>
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="del_cg" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">删除提示</h2>
            </div>
            <div class="modal-body">
                <p>删除成功</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="del_sb" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">删除提示</h2>
            </div>
            <div class="modal-body">
                <p>删除失败</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="chengong" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">添加提示</h2>
            </div>
            <div class="modal-body">
                <p>添加成功</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="shibai" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">添加提示</h2>
            </div>
            <div class="modal-body">
                <p>添加失败</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="liangge" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">温馨提示</h2>
            </div>
            <div class="modal-body">
                <p>您只能选择两个专题进行比较，不能多于或少于两个。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<!-- <script src="/static/js/moment.min.js"></script> -->
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/bootstrap-table.min.js"></script>
<script src="/static/js/bootstrap-table-zh-CN.min.js"></script>
<!-- <script src="/static/js/jquery.daterangepicker.min.js"></script> -->
<!-- <script src="/static/js/time.js"></script> -->
<script src="/static/echarts/echarts.min.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script src="/static/js/analyze1.js"></script>
<script src="/static/js/analyze2.js"></script>
<script>
    $('.dropdown-toggle').dropdown();
    //点击切换type
    $(".gai").on('click',function(){
        $(".tuli").show(20);
        $(".choose1").hide(20);
        $(".con_bot").hide(20);
        $(".xinzeng").hide(20);
        $(this).css({backgroundColor:"#4cae4c"});
        $(this).siblings('.ch1').css({backgroundColor:"#0099FF"});
    });
    $(".cha").on('click',function(){
        $(".tuli").hide(20);
        $(".con_bot").hide(20);
        $(".choose1").show(20);
        $(".xinzeng").hide(20);
        $(this).css({backgroundColor:"#4cae4c"});
        $(this).siblings('.ch1').css({backgroundColor:"#0099FF"});
    });
    $(".bian").on('click',function(){
        $(".tuli").hide(20);
        $(".choose1").hide(20);
        $(".con_bot").hide(20);
        $(".xinzeng").show(20);
        $(this).css({backgroundColor:"#4cae4c"});
        $(this).siblings('.ch1').css({backgroundColor:"#0099FF"});
    });
    $(".jian").on('click',function(){
        $(".tuli").hide(20);
        $(".choose1").hide(20);
        $(".con_bot").show(20);
        $(".xinzeng").hide(20);
        $(this).css({backgroundColor:"#4cae4c"});
        $(this).siblings('.ch1').css({backgroundColor:"#0099FF"});
    });
    //

    // $(".compare").on('click',function () {
    //     $('#condet').show(30);
    // });
    $(".chulai").on('click',function () {
        $('#shijian2').show(30);
    });
    // $("#shijian2 .sjt2").on('click',function () {
    //     $('#shijian2 .bag').show(20);
    // });
    // $(".add99").on('click',function () {
    //     $('.instr').show(20);
    // });
    $('.condet4').on('click',function () {
        if (theme_list.length==2) {
            window.open("/theme/different/?theme1="+theme_list[0]+'&theme2='+theme_list[1]);
        }else{
            $('#liangge').modal("show");
        };
        // $('#aaa').modal("show");
    });
    $('.add22').on('click',function () {
        $('#join').modal("show");
        $(".xinjian").css({display:"block"});
    });
    $('.add44').on('click',function(){
        $('#join1').modal("show");
    });
    $.each($(".det"),function(index,item){
        $(item).on('click',function(){
            $(this).parent().fadeOut(300);
        })
    })
    $.each($('.xingming'),function(index,item){
        $(item).on('click',function(){
            window.open('/index/search_result/');
        })
    });
    $('#container .left').hover(function () {
        $(this).attr('src','/static/image/left_hv.png');
    },function () {
        $(this).attr('src','/static/image/left.png');
    });
    $('#container .right').hover(function () {
        $(this).attr('src','/static/image/right_hv.png');
    },function () {
        $(this).attr('src','/static/image/right.png');
    });
    var heart=$(".play .play1 .p11 .xin");
    $.each(heart,function(index,item){
        var chan=1;
        $(item).on('click',function(){
            if (chan==1) {
                $(this).attr('src','/static/image/focus.png');
                chan=2;
            }else {
                $(this).attr('src','/static/image/heart.png');
                chan=1;
            }
            
        })
    });
    // $('#container .con_bot .add #shijian .sjt .sjt2').on('click',function(){
    //     $('#container .con_bot .add #shijian .bag').slideDown(100);
    // });
    var go = 00;
    $('#container .con_bot .add #shijian .bag .sjmr1 .right').on('click',function () {
        if(go==00){
            var plays=$("#container .con_bot .add #shijian .bag .sjmr1 #crmid");
            $(plays).css({
                "-webkit-transform":"translateX(-750px)",
                "-moz-transform":"translateX(-750px)",
                "-ms-transform":"translateX(-750px)",
                "-o-transform":"translateX(-750px)",
                "transform":"translateX(-750px)",
            });
            go = 11;
        } else{
            var plays=$("#container .con_bot .add #shijian .bag .sjmr1 #crmid");
            $(plays).css({
                "-webkit-transform":"translateX(0px)",
                "-moz-transform":"translateX(0px)",
                "-ms-transform":"translateX(0px)",
                "-o-transform":"translateX(0px)",
                "transform":"translateX(0px)",
            });
            go = 00;
        }
    });
    $('#container .con_bot .add #shijian .bag .sjmr1 .left').on('click',function () {
        if(go==00){
            var plays=$("#container .con_bot .add #shijian .bag .sjmr1 #crmid");
            $(plays).css({
                "-webkit-transform":"translateX(-750px)",
                "-moz-transform":"translateX(-750px)",
                "-ms-transform":"translateX(-750px)",
                "-o-transform":"translateX(-750px)",
                "transform":"translateX(-750px)",
            });
            go = 11;
        } else{
            var plays=$("#container .con_bot .add #shijian .bag .sjmr1 #crmid");
            $(plays).css({
                "-webkit-transform":"translateX(0px)",
                "-moz-transform":"translateX(0px)",
                "-ms-transform":"translateX(0px)",
                "-o-transform":"translateX(0px)",
                "transform":"translateX(0px)",
            });
            go = 00;
        }
    });
    //
    $(function() {
        $('a.show-option').click(function(evt) {
            evt.preventDefault();
            $(this).siblings('.options').slideToggle();
        });
        var play=$("#container .play");
        $.each(play,function (index,item) {
            $(item).hover(function () {
                $(item).find(".play5").css({
                    "-webkit-transform":"translateY(-40px)",
                    "-moz-transform":"translateY(-40px)",
                    "-ms-transform":"translateY(-40px)",
                    "-o-transform":"translateY(-40px)",
                    "transform":"translateY(-40px)",
                })
            },function () {
                $(item).find(".play5").css({
                    "-webkit-transform":"translateY(40px)",
                    "-moz-transform":"translateY(40px)",
                    "-ms-transform":"translateY(40px)",
                    "-o-transform":"translateY(40px)",
                    "transform":"translateY(40px)",
                })
            });
        });
        
        $.each(play,function (index,item) {
            var changecolor=1;
            $(item).find(".play5").on('click',function(){
                if (changecolor==1) {
                    $(this).parent('.play').css({backgroundColor:'#09F'});
                    changecolor=2;
                    $(this).find('a').text('取消专题');
                    $('#join2').modal("show");
                } else {
                    $(this).parent('.play').css({backgroundColor:'#d2dcf7'});
                    changecolor=1;
                    $(this).find('a').text('加入专题');
                }
            }); 
        });

    });
</script>
{% endblock %}