{% extends "public_nav.html" %}
{% block title %}<title>专题分析 - 专题对比</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/analyzediff.css">
    <style type="text/css">
        .fixed-table-pagination .pagination-detail {
            display: none;
        }
    </style>
{% endblock %}

{% block main %}
<div id="container">
    <div class="present">
        <span class="preone"><!-- <i class="icon icon-remove det"></i> -->
            当前对比专题：
            <a style="color: white;font-weight: 700;background-color: #0099FF" class="preonemd">电信诈骗  </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="color: white;font-weight: 700;background-color: #0099FF" class="preonemd">港澳台  </a>
        </span>
        <!-- <div class="checkbox prethr" style="margin-left: 30px">
            <label>
                <input type="checkbox" class="ptnew"/> 加入新专题
            </label>
            <div class="prethrmd" style="display: none;margin-left: 10px;">
                <form>
                    <select name="" id="gup">
                        <option value="电信专题">电信专题</option>
                        <option value="诈骗专题">诈骗专题</option>
                    </select>
                </form>
                <button class="ptm3">加入对比</button>
            </div>
        </div> -->
    </div>
    <div id="middle">
        <div class="centre" style="height: 650px;">
            <div style="position: relative;height: 1px;border-top:1px solid #ccc;margin: 30px 0;">
            <p style="position: absolute;z-index:5;left: 43.5%;top:-28px;border-radius:10px;color: white;padding: 15px 25px;background-color: #00cc66;
                font-weight: 900;font-size: 20px;">图谱对比</p>
        </div>
            <div class="midleft">
                <p class="conevents">电信专题&nbsp;&nbsp;&nbsp;&nbsp;<b style="color:#5e5e5e;font-size: 8px;">
                    共<a href="###" class="peonum">20</a>人</b></p>
                <div id="eventimg">

                </div>
                <div id="eventimg2" style="display: none;">

                </div>
            </div>
            <div class="midmid">
                <p class="pane">交互面板</p>
                <div class="condition">
                    <!--111-->
                    <div class="cdt2" style="margin: 20px 0;">
                        <div class="radio">
                            <label class="radio-inline" style="margin-left: 20px;color: #9d9d9d;font-size: 12px;line-height: 20px;">
                                <input class="cdt211" type="radio" name="tions" value="option1" checked> 关系图谱
                            </label>
                            <label class="radio-inline" style="color: #9d9d9d;font-size: 12px;line-height: 20px;">
                                <input class="cdt222" type="radio" name="tions" value="option2"> 地域图谱
                            </label>
                        </div>
                    </div>
                    <!--222-->
                    <span class="cdt3" style="display: block;margin: 40px 0 0 20px;color: #777;font-size: 14px">节点扩展</span>
                    <div class="cdt4">
                        <div class="radio">
                            <label style="display: block;margin-left: 50px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                                <input class="per" id='bu' name="tiosadns" type="radio" checked/> 不扩展
                            </label>
                            <label style="display: block;margin-left: 50px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                                <input class="per" id='yi' name="tiosadns" type="radio"/> 扩展一层
                            </label>
                            <label style="display: block;margin-left: 50px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                                <input class="per" id='er' name="tiosadns" type="radio"/> 扩展二层
                            </label>
                        </div>
                    </div>
                    <!--333-->
                    <span class="cdt3" style="display: block;margin: 40px 0 0 20px;color: #777;font-size: 14px">关系筛选</span>
                    <div class="cdt4">
                        <div class="radio" style="display: block;margin-left: 50px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                            <label>
                                <input type="radio" name="optionsRadios" id="quan" checked>
                                全部节点
                            </label>
                        </div>
                        <div class="radio" style="display: block;margin-left: 50px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                            <label>
                                <input type="radio" name="optionsRadios" id="xiangtong">
                                相同节点
                            </label>
                        </div>
                        <div class="radio" style="display: block;margin-left: 50px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                            <label>
                                <input type="radio" name="optionsRadios" value="butong">
                                不同节点
                            </label>
                        </div>
                    </div>
                    <!--444-->
                    <button class="cdt5">确定</button>
                </div>
            </div>
            <div class="midright" style="margin-right: 0">
                <p class="placet">维权群体&nbsp;&nbsp;&nbsp;&nbsp;<b style="color:#5e5e5e;font-size: 8px;">共<a class="peonum">17</a>人</b></p>
                <div id="placeimg">

                </div>
                <div id="placeimg2" style="display: none;">

                </div>
            </div>
        </div>
        <div class="thingtrast">
            <div style="position: relative;height: 1px;border-top:1px solid #ccc;margin: 30px 0 50px;">
                <p style="position: absolute;z-index:5;left: 43.5%;top:-28px;border-radius:10px;color: white;padding: 15px 25px;background-color: #00cc66;
                font-weight: 900;font-size: 20px;">事件对比</p>
            </div>
            <div class="ttone" style="color: #5e5e5e;font-size: 10px;padding-left: 60px;">
                <span>排序指标：</span>
                <label class="radio-inline" style="line-height: 18px;">
                    <input type="radio" name="inlig" id="option1" checked> 发生时间
                </label>
                <label class="radio-inline" style="line-height: 18px;">
                    <input type="radio" name="inlig" id="option2"> 参与人数
                </label>
                <label class="radio-inline" style="line-height: 18px;">
                    <input type="radio" name="inlig" id="option3"> 热度
                </label>
            </div>
            <div class="lawyer">
                <div class="lawyer1" style="color: #000;font-size: 20px;font-weight: 700;margin:30px 0 10px 75px;">
                    <span class='lawyer111'>电信诈骗</span>
                    <!-- <p class="direct1" style='float:right;font-size:12px;color: #9d9d9d;margin-right: 60px;'>
                        <label class="radio-inline">
                            <input type="radio" name="angle" value="option1"> 1跳
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="angle" value="option2"> 2跳
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="angle" value="option2" checked> 全部
                        </label>
                        <button class="add22" type="button" data-toggle="modal">添加</button>
                    </p> -->
                    <div style='float:right;margin-right:65px;'>
                        <button type="button" class="btn btn-primary xiangtong" 
                                                    style="font-size:14px;font-weight:700;">相同事件</button>
                        <button type="button" class="btn btn-primary butong"
                                                    style="font-size:14px;font-weight:700;">不同事件</button>
                        <button type="button" class="btn btn-primary quanbu"
                                                    style="font-size:14px;font-weight:700;">全部事件</button>
                    </div>  
                </div>
                <div class="lawyer2">
                    <div class="sjmr1" style='padding-left:30px;'>
                        <img src="/static/image/left.png" alt="" class="left">
                        <div id="case4" style="display: inline-block;width:1050px;overflow: hidden;">
                            <div id="run4" style="width: 4000px;">
                                
                            </div>
                        </div>
                        <img src="/static/image/right.png" alt="" class="right">
                    </div>
                </div>
            </div>
            <div class="safeguard">
                <p class="safeguard1" style="color: #000;font-size: 20px;font-weight: 700;margin:30px 0 10px 75px;">港澳台</p>
                <div class="safeguard2">
                    <div class="sjmr1" style='padding-left:30px;'>
                        <img src="/static/image/left.png" alt="" class="left">
                        <div id="case5" style="display: inline-block;width:1050px;overflow: hidden;">
                            <div id="run5" style="width: 4000px;">
                                
                            </div>
                        </div>
                        <img src="/static/image/right.png" alt="" class="right">
                    </div>
                </div>
            </div>
        </div>
        <div class="peotrast">
            <div style="position: relative;height: 1px;border-top:1px solid #ccc;margin: 30px 0 50px;">
                <p style="position: absolute;z-index:5;left: 43.5%;top:-28px;border-radius:10px;color: white;padding: 15px 25px;background-color: #00cc66;
                font-weight: 900;font-size: 20px;">人物对比</p>
            </div>
            <div class="ptsone" style="color: #5e5e5e;font-size: 10px;padding-left: 60px;">
                <span>排序指标：</span>
                <label class="radio-inline" style="line-height: 18px;">
                    <input type="radio" name="inli" id="option12" checked> 活跃度
                </label>
                <label class="radio-inline" style="line-height: 18px;">
                    <input type="radio" name="inli" id="option22"> 影响力
                </label>
                <label class="radio-inline" style="line-height: 18px;">
                    <input type="radio" name="inli" id="option32"> 敏感度
                </label>
                <div style='float:right;margin-right:65px;'>
                        <button type="button" class="btn btn-primary xiangtong2" 
                                                    style="font-size:14px;font-weight:700;">相同人物</button>
                        <button type="button" class="btn btn-primary butong2"
                                                    style="font-size:14px;font-weight:700;">不同人物</button>
                        <button type="button" class="btn btn-primary quanbu2"
                                                    style="font-size:14px;font-weight:700;">全部人物</button>
                    </div>  
            </div>
            <div class="ptstwo" style="padding: 20px 40px;">
                <div style="width: 520px;display: inline-block;margin-right: 10px;">
                     <div id="tab1" style="width: 520px;">
                    
                    </div>
                </div>
               <div style="width: 520px;display: inline-block;">
                     <div id="tab2" style="width: 520px;">
                    
                    </div>
                </div>
            </div>
        </div>
        
        <div class="textrast">
            <div style="position: relative;height: 1px;border-top:1px solid #ccc;margin: 60px 0 50px;">
                <p style="position: absolute;z-index:5;left: 43.5%;top:-28px;border-radius:10px;color: white;padding: 15px 25px;background-color: #00cc66;
                font-weight: 900;font-size: 20px;">演化对比</p>
            </div>
            <div class="textrast1">
               <!--  <p class="tone">高影响力微博</p>
                <p class="ttwo">敏感微博</p> -->
                <!-- <div style='text-align:right;margin-right:40px;'>
                    <button type="button" class="btn btn-primary xiangtong" 
                                                style="font-size:14px;font-weight:700;">相同演化</button>
                    <button type="button" class="btn btn-primary butong"
                                                style="font-size:14px;font-weight:700;">不同演化</button>
                    <button type="button" class="btn btn-primary quanbu2"
                                                style="font-size:14px;font-weight:700;">全部演化</button>
                </div> -->  
            </div>
            <div class="tweets">
                <div class="txtleft" id='txtleft'>
                </div>
                <div class="txtright" id='txtright' style="margin-left: 30px;">     
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
    
{% block my_js %}
    <script src="/static/js/analyzediff1.js"></script>
    <script src="/static/js/analyzediff2.js"></script>
    <script src="/static/js/analyzediff3.js"></script>
    <script src="/static/js/analyzediff4.js"></script>
    <script type="text/javascript">
    $.each($(".det"),function(index,item){
        $(item).on('click',function(){
            $(this).parent().fadeOut(300);
        });
    });
    var heart=$(".play .play1 .p11 .xin");
    $.each(heart,function(index,item){
        var chan=1;
        $(item).on('click',function(){
            if (chan==1) {
                $(this).attr('src','/static/image/focus.png');
                chan=2;
            }else {
                $(this).attr('src','/static/image/heart.png');
                chan=1;
            }
            
        })
    });
    $.each($(".xingming"),function(index,item){
        $(item).on('click',function () {
            window.open('/theme/detail/');
        });
    })
    </script>
{% endblock %}
