<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图谱分析 - 专题分析</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/daterangepicker.min.css">
    <link rel="stylesheet" href="../css/analyze.css">
    <style>
        #wrapper {
            width: 450px;
            margin: 0 auto;
            color: #333;
            font-family: Tahoma, Verdana, sans-serif;
            line-height: 1.5;
            font-size: 14px;
            display: inline-block;
        }

        .demo {
            margin: 30px 0;
            color: #4b4b4b;
            font-size: 14px;
            font-weight: 900;
        }

        .date-picker-wrapper .month-wrapper table .day.lalala {
            background-color: orange;
        }
        .options {
            display: none;
            border-left: 6px solid #8ae;
            padding: 10px;
            font-size: 12px;
            line-height: 1.4;
            background-color: #eee;
            border-radius: 4px;
        }
        .date-picker-wrapper.date-range-picker19 .day.first-date-selected {
            background-color: red !important;
        }
        .date-picker-wrapper.date-range-picker19 .day.last-date-selected {
            background-color: orange !important;
        }
        #date-range0 {
            width: 380px;
            height: 32px;
            padding: 5px;
            font-size: 18px;
            text-align: center;
            border: 1px solid #c7c7c7;
            color: #c7c7c7;
            margin-left: 20px;
        }
    </style>
</head>
<body>
<div id="nav"></div>
<div id="container">
    <div class="con_top">
        <div class="choose">
            <p class="ch1">选择专题</p>
            <div class="tuli">
                <div class="menu">
                    <span class="zhmi">专题名称</span>
                    <form>
                        <select name="" id="list">
                            <option value="">电信诈骗</option>
                            <option value="">222</option>
                            <option value="">333</option>
                            <option value="">444</option>
                        </select>
                    </form>
                    <span id="wrapper">
                        <div class="demo">
                            时间
                            <input id="date-range0" value="" placeholder="时间">
                        </div>
                    </span>
                    <button class="msure">确定</button>
                </div>
                <div id="spread" type="button" data-toggle="modal">

                </div>
                <style>
                    .spreadbox thead {
                        background-color: #0099FF;
                    }
                    .spreadbox th {
                        color: white;
                        font-weight: 900;
                    }
                    .spreadbox th,.spreadbox td {
                        text-align: center;
                    }
                </style>
                <div class="spreadbox modal fade" id="aaa" tabindex="-2">
                    <div class="modal-dialog">
                        <div class=modal-content>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                                <h2 class="modal-title">XXXX专题下包含的事件</h2>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <caption></caption>
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>包含事件</th>
                                        <th>编辑</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>徐玉玉事件</td>
                                        <td><a href="">编辑</a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>大学生失联</td>
                                        <td><a href="">编辑</a></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>大学生弃学</td>
                                        <td><a href="">编辑</a></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>电信诈骗</td>
                                        <td><a href="">编辑</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal">
                                    关闭
                                </button>
                                <button type="button" class="btn btn-danger">
                                    确定
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="con_bot">
        <div class="add">
            <p class="add1">新增专题</p>
            <div id="shijian">
                <div class="sjt">
                    输入用户或事件名称
                    <input type="text" class="sjt1"/>
                    <button class="sjt2">确定</button>
                </div>
                <div class="bag">
                    <div id="site">

                    </div>
                    <div class="sjmr">
                        <div class="sjmr1">
                            <span class="direct1">直接相关事件</span>
                            <img src="../image/left.png" alt="" class="left">
                            <div id="case" style="display: inline-block;width:750px;overflow: hidden;">
                                <div id="run" style="width: 1500px;">
                                    <div class="play">
                                        <div class="play1">
                                            <div class="p11">
                                                <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                        --><img src="../image/dingwei.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">山东</span><!--
                                        --><img src="../image/heart.png" alt="">
                                            </div>
                                            <div class="p22">
                                                <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                                <span class="riqi">2016-08-19</span>
                                            </div>
                                        </div>
                                        <img class="play2" src="../image/xuyuyu.png" alt="">
                                        <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                            <a class="bus1">业务标签：</a>
                                            <a class="bus2">诈骗</a>
                                            <a class="bus2">大学生</a>
                                            <a class="bus2">离世</a>
                                        </div>
                                        <div class="play4">
                                            <p class="shuoming">
                                                徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                            </p>
                                        </div>
                                        <div class="play5" type="button" data-toggle="modal">
                                            <a href="#">加入专题</a>
                                        </div>
                                        <div class="modal fade" id="join" tabindex="-3">
                                            <div class="modal-dialog">
                                                <div class=modal-content>
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span>&times;</span>
                                                        </button>
                                                        <h2 class="modal-title">are you ture ?</h2>
                                                    </div>
                                                    <div class="modal-body">
                                                        你确定要加入吗？
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-info" data-dismiss="modal">
                                                            关闭
                                                        </button>
                                                        <button type="button" class="btn btn-danger">
                                                            确定
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="play">
                                        <div class="play1">
                                            <div class="p11">
                                                <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                        --><img src="../image/dingwei.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">山东</span><!--
                                        --><img src="../image/heart.png" alt="">
                                            </div>
                                            <div class="p22">
                                                <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                                <span class="riqi">2016-08-19</span>
                                            </div>
                                        </div>
                                        <img class="play2" src="../image/xuyuyu.png" alt="">
                                        <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                            <a class="bus1">业务标签：</a>
                                            <a class="bus2">诈骗</a>
                                            <a class="bus2">大学生</a>
                                            <a class="bus2">离世</a>
                                        </div>
                                        <div class="play4">
                                            <p class="shuoming">
                                                徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                            </p>
                                        </div>
                                        <div class="play5" data-toggle="modal">
                                            <a href="#">加入专题</a>
                                        </div>
                                    </div>
                                    <div class="play">
                                        <div class="play1">
                                            <div class="p11">
                                                <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                        --><img src="../image/dingwei.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">山东</span><!--
                                        --><img src="../image/heart.png" alt="">
                                            </div>
                                            <div class="p22">
                                                <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                                <span class="riqi">2016-08-19</span>
                                            </div>
                                        </div>
                                        <img class="play2" src="../image/xuyuyu.png" alt="">
                                        <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                            <a class="bus1">业务标签：</a>
                                            <a class="bus2">诈骗</a>
                                            <a class="bus2">大学生</a>
                                            <a class="bus2">离世</a>
                                        </div>
                                        <div class="play4">
                                            <p class="shuoming">
                                                徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                            </p>
                                        </div>
                                        <div class="play5" data-toggle="modal">
                                            <a href="#">加入专题</a>
                                        </div>
                                    </div>
                                    <div class="play">
                                        <div class="play1">
                                            <div class="p11">
                                                <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                        --><img src="../image/dingwei.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">山东</span><!--
                                        --><img src="../image/heart.png" alt="">
                                            </div>
                                            <div class="p22">
                                                <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                                <span class="riqi">2016-08-19</span>
                                            </div>
                                        </div>
                                        <img class="play2" src="../image/xuyuyu.png" alt="">
                                        <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                            <a class="bus1">业务标签：</a>
                                            <a class="bus2">诈骗</a>
                                            <a class="bus2">大学生</a>
                                            <a class="bus2">离世</a>
                                        </div>
                                        <div class="play4">
                                            <p class="shuoming">
                                                徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                            </p>
                                        </div>
                                        <div class="play5" data-toggle="modal">
                                            <a href="#">加入专题</a>
                                        </div>
                                    </div>
                                    <div class="play">
                                        <div class="play1">
                                            <div class="p11">
                                                <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                        --><img src="../image/dingwei.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">山东</span><!--
                                        --><img src="../image/heart.png" alt="">
                                            </div>
                                            <div class="p22">
                                                <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                                <span class="riqi">2016-08-19</span>
                                            </div>
                                        </div>
                                        <img class="play2" src="../image/xuyuyu.png" alt="">
                                        <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                            <a class="bus1">业务标签：</a>
                                            <a class="bus2">诈骗</a>
                                            <a class="bus2">大学生</a>
                                            <a class="bus2">离世</a>
                                        </div>
                                        <div class="play4">
                                            <p class="shuoming">
                                                徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                            </p>
                                        </div>
                                        <div class="play5" data-toggle="modal">
                                            <a href="#">加入专题</a>
                                        </div>
                                    </div>
                                    <div class="play">
                                        <div class="play1">
                                            <div class="p11">
                                                <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                        --><img src="../image/dingwei.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">山东</span><!--
                                        --><img src="../image/heart.png" alt="">
                                            </div>
                                            <div class="p22">
                                                <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                                <span class="riqi">2016-08-19</span>
                                            </div>
                                        </div>
                                        <img class="play2" src="../image/xuyuyu.png" alt="">
                                        <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                            <a class="bus1">业务标签：</a>
                                            <a class="bus2">诈骗</a>
                                            <a class="bus2">大学生</a>
                                            <a class="bus2">离世</a>
                                        </div>
                                        <div class="play4">
                                            <p class="shuoming">
                                                徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                            </p>
                                        </div>
                                        <div class="play5" data-toggle="modal">
                                            <a href="#">加入专题</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="../image/right.png" alt="" class="right">
                        </div>
                        <div class="sjmr2" style="overflow: hidden;">
                            <span class="direct2">间接相关事件</span>
                            <img src="../image/left.png" alt="" class="left">
                            <div id="case2" style="display: inline-block;width:750px;overflow: hidden;">
                                <div id="run2" style="width: 1500px;">
                                    <div class="play">
                                        <div class="play1">
                                            <div class="p11">
                                                <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                        --><img src="../image/dingwei.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">山东</span><!--
                                        --><img src="../image/heart.png" alt="">
                                            </div>
                                            <div class="p22">
                                                <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                                <span class="riqi">2016-08-19</span>
                                            </div>
                                        </div>
                                        <img class="play2" src="../image/xuyuyu.png" alt="">
                                        <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                            <a class="bus1">业务标签：</a>
                                            <a class="bus2">诈骗</a>
                                            <a class="bus2">大学生</a>
                                            <a class="bus2">离世</a>
                                        </div>
                                        <div class="play4">
                                            <p class="shuoming">
                                                徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                            </p>
                                        </div>
                                        <div class="play5" data-toggle="modal">
                                            <a href="#">加入专题</a>
                                        </div>
                                    </div>
                                    <div class="play">
                                        <div class="play1">
                                            <div class="p11">
                                                <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                        --><img src="../image/dingwei.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">山东</span><!--
                                        --><img src="../image/heart.png" alt="">
                                            </div>
                                            <div class="p22">
                                                <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                                <span class="riqi">2016-08-19</span>
                                            </div>
                                        </div>
                                        <img class="play2" src="../image/xuyuyu.png" alt="">
                                        <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                            <a class="bus1">业务标签：</a>
                                            <a class="bus2">诈骗</a>
                                            <a class="bus2">大学生</a>
                                            <a class="bus2">离世</a>
                                        </div>
                                        <div class="play4">
                                            <p class="shuoming">
                                                徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                            </p>
                                        </div>
                                        <div class="play5" data-toggle="modal">
                                            <a href="#">加入专题</a>
                                        </div>
                                    </div>
                                    <div class="play">
                                        <div class="play1">
                                            <div class="p11">
                                                <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                        --><img src="../image/dingwei.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">山东</span><!--
                                        --><img src="../image/heart.png" alt="">
                                            </div>
                                            <div class="p22">
                                                <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                                <span class="riqi">2016-08-19</span>
                                            </div>
                                        </div>
                                        <img class="play2" src="../image/xuyuyu.png" alt="">
                                        <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                            <a class="bus1">业务标签：</a>
                                            <a class="bus2">诈骗</a>
                                            <a class="bus2">大学生</a>
                                            <a class="bus2">离世</a>
                                        </div>
                                        <div class="play4">
                                            <p class="shuoming">
                                                徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                            </p>
                                        </div>
                                        <div class="play5" data-toggle="modal">
                                            <a href="#">加入专题</a>
                                        </div>
                                    </div>
                                    <div class="play">
                                        <div class="play1">
                                            <div class="p11">
                                                <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                        --><img src="../image/dingwei.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">山东</span><!--
                                        --><img src="../image/heart.png" alt="">
                                            </div>
                                            <div class="p22">
                                                <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                                <span class="riqi">2016-08-19</span>
                                            </div>
                                        </div>
                                        <img class="play2" src="../image/xuyuyu.png" alt="">
                                        <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                            <a class="bus1">业务标签：</a>
                                            <a class="bus2">诈骗</a>
                                            <a class="bus2">大学生</a>
                                            <a class="bus2">离世</a>
                                        </div>
                                        <div class="play4">
                                            <p class="shuoming">
                                                徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                            </p>
                                        </div>
                                        <div class="play5" data-toggle="modal">
                                            <a href="#">加入专题</a>
                                        </div>
                                    </div>
                                    <div class="play">
                                        <div class="play1">
                                            <div class="p11">
                                                <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                        --><img src="../image/dingwei.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">山东</span><!--
                                        --><img src="../image/heart.png" alt="">
                                            </div>
                                            <div class="p22">
                                                <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                                <span class="riqi">2016-08-19</span>
                                            </div>
                                        </div>
                                        <img class="play2" src="../image/xuyuyu.png" alt="">
                                        <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                            <a class="bus1">业务标签：</a>
                                            <a class="bus2">诈骗</a>
                                            <a class="bus2">大学生</a>
                                            <a class="bus2">离世</a>
                                        </div>
                                        <div class="play4">
                                            <p class="shuoming">
                                                徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                            </p>
                                        </div>
                                        <div class="play5" data-toggle="modal">
                                            <a href="#">加入专题</a>
                                        </div>
                                    </div>
                                    <div class="play">
                                        <div class="play1">
                                            <div class="p11">
                                                <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                        --><img src="../image/dingwei.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">山东</span><!--
                                        --><img src="../image/heart.png" alt="">
                                            </div>
                                            <div class="p22">
                                                <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                                <span class="riqi">2016-08-19</span>
                                            </div>
                                        </div>
                                        <img class="play2" src="../image/xuyuyu.png" alt="">
                                        <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                            <a class="bus1">业务标签：</a>
                                            <a class="bus2">诈骗</a>
                                            <a class="bus2">大学生</a>
                                            <a class="bus2">离世</a>
                                        </div>
                                        <div class="play4">
                                            <p class="shuoming">
                                                徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                            </p>
                                        </div>
                                        <div class="play5" data-toggle="modal">
                                            <a href="#">加入专题</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="../image/right.png" alt="" class="right">                        </div>
                    </div>
                </div>
                <div class="xinzeng" style="margin-top: 20px;padding-left: 20px;">
                    <p class="tit">新建专题</p>
                    <form style="margin-left: 40px;">
                        <span class="xz1">专题名称</span>
                        <select name="" id="list1">
                            <option value="">电信诈骗</option>
                            <option value="">新建专题</option>
                        </select>
                        <input type="text" class="shuru2" value="请输入专题名称"/>
                        <button type="button" data-toggle="modal" data-target="#myModal">新建专题</button>
                    </form>
                    <div class="shij">
                        <span class="sjr">加入事件</span>
                        <a href="" class="sj1">徐玉玉事件 <b class="icon icon-remove"></b> </a>
                        <a href="" class="sj2">大学生失联 <b class="icon icon-remove"></b> </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="../js/moment.min.js"></script>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.daterangepicker.min.js"></script>
<script src="../js/time.js"></script>
<script src="../echarts/echarts.min.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script src="../js/analyze1.js"></script>
<script>
    $("#nav").load("public_nav.html");
    $('.dropdown-toggle').dropdown();
    $(function () {
        $('#spread').on('click',function () {
            $('#aaa').modal("show");
        });
        $('.play5').on('click',function () {
            $('#join').modal("show");
        });
    });
    $("#container .con_top .choose .tuli .menu .msure").on("click",function () {
        window.location.href="proults.html";
    });
    $('#container .con_bot .add #shijian .bag .left').hover(function () {
        $(this).attr('src','../image/left_hv.png');
    },function () {
        $(this).attr('src','../image/left.png');
    });
    $('#container .con_bot .add #shijian .bag .right').hover(function () {
        $(this).attr('src','../image/right_hv.png');
    },function () {
        $(this).attr('src','../image/right.png');
    });

    var go = 00;
    $('#container .con_bot .add #shijian .bag .sjmr1 .right').on('click',function () {
        if(go==00){
            var plays=$("#container .con_bot .add #shijian .bag .sjmr1 .play");
            $(plays).css({
                "-webkit-transform":"translateX(-750px)",
                "-moz-transform":"translateX(-750px)",
                "-ms-transform":"translateX(-750px)",
                "-o-transform":"translateX(-750px)",
                "transform":"translateX(-750px)",
            });
            go = 11;
        } else{
            var plays=$("#container .con_bot .add #shijian .bag .sjmr1 .play");
            $(plays).css({
                "-webkit-transform":"translateX(0px)",
                "-moz-transform":"translateX(0px)",
                "-ms-transform":"translateX(0px)",
                "-o-transform":"translateX(0px)",
                "transform":"translateX(0px)",
            });
            go = 00;
        }
    });
    $('#container .con_bot .add #shijian .bag .sjmr1 .left').on('click',function () {
        if(go==00){
            var plays=$("#container .con_bot .add #shijian .bag .sjmr1 .play");
            $(plays).css({
                "-webkit-transform":"translateX(-750px)",
                "-moz-transform":"translateX(-750px)",
                "-ms-transform":"translateX(-750px)",
                "-o-transform":"translateX(-750px)",
                "transform":"translateX(-750px)",
            });
            go = 11;
        } else{
            var plays=$("#container .con_bot .add #shijian .bag .sjmr1 .play");
            $(plays).css({
                "-webkit-transform":"translateX(0px)",
                "-moz-transform":"translateX(0px)",
                "-ms-transform":"translateX(0px)",
                "-o-transform":"translateX(0px)",
                "transform":"translateX(0px)",
            });
            go = 00;
        }
    });
    //
    $('#container .con_bot .add #shijian .bag .sjmr2 .right').on('click',function () {
        if(go==00){
            var plays=$("#container .con_bot .add #shijian .bag .sjmr2 .play");
            $(plays).css({
                "-webkit-transform":"translateX(-750px)",
                "-moz-transform":"translateX(-750px)",
                "-ms-transform":"translateX(-750px)",
                "-o-transform":"translateX(-750px)",
                "transform":"translateX(-750px)",
            });
            go = 11;
        } else{
            var plays=$("#container .con_bot .add #shijian .bag .sjmr2 .play");
            $(plays).css({
                "-webkit-transform":"translateX(0px)",
                "-moz-transform":"translateX(0px)",
                "-ms-transform":"translateX(0px)",
                "-o-transform":"translateX(0px)",
                "transform":"translateX(0px)",
            });
            go = 00;
        }
    });
    $('#container .con_bot .add #shijian .bag .sjmr2 .left').on('click',function () {
        if(go==00){
            var plays=$("#container .con_bot .add #shijian .bag .sjmr2 .play");
            $(plays).css({
                "-webkit-transform":"translateX(-750px)",
                "-moz-transform":"translateX(-750px)",
                "-ms-transform":"translateX(-750px)",
                "-o-transform":"translateX(-750px)",
                "transform":"translateX(-750px)",
            });
            go = 11;
        } else{
            var plays=$("#container .con_bot .add #shijian .bag .sjmr2 .play");
            $(plays).css({
                "-webkit-transform":"translateX(0px)",
                "-moz-transform":"translateX(0px)",
                "-ms-transform":"translateX(0px)",
                "-o-transform":"translateX(0px)",
                "transform":"translateX(0px)",
            });
            go = 00;
        }
    });
    $(function() {
        $('a.show-option').click(function(evt) {
            evt.preventDefault();
            $(this).siblings('.options').slideToggle();
        });
        var play=$("#container #shijian .play");
        $.each(play,function (index,item) {
            $(item).hover(function () {
                $(item).find(".play5").css({
                    "-webkit-transform":"translateY(-40px)",
                    "-moz-transform":"translateY(-40px)",
                    "-ms-transform":"translateY(-40px)",
                    "-o-transform":"translateY(-40px)",
                    "transform":"translateY(-40px)",
                })
            },function () {
                $(item).find(".play5").css({
                    "-webkit-transform":"translateY(40px)",
                    "-moz-transform":"translateY(40px)",
                    "-ms-transform":"translateY(40px)",
                    "-o-transform":"translateY(40px)",
                    "transform":"translateY(40px)",
                })
            });
        });
    })
</script>
</body>
</html>