{% extends "public_nav.html" %}
{% block title %}<title>图谱探索 - 专题结果</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/proults.css">
    <style type="text/css">
        #container #middle .midmid .condition .cdt4 span.dian {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #777;
            margin-left: 40px;
        }
        #container #middle .midmid .condition .cdt4 .checkbox {
            margin: 0;
        }
    </style>
{% endblock %}

{% block main %}
<div id="container">
    <div class="present">
        <span class="preone">当前选择：<a class="preonemd" href="###"></a>专题 ，</span>
        <span class="pretwo">共包含<a href="###" class="pretwomd"></a>个事件</span>
        <div class="checkbox prethr" style="margin-left: 30px">
            <label>
                <input type="checkbox" class="ptnew"/> 选择新专题
            </label>
            <div class="prethrmd" style="display: none;margin-left: 10px;">
                <span class="ptm1">专题名称：</span>
                <input type="text" id="ptm2"/>
                <button class="ptm3">确定</button>
            </div>
        </div>
    </div>
    <div id="middle">
        <div class="midleft">
            <p class="conevents">包含事件</p>
            <div id="eventimg">

            </div>
        </div>
        <div class="midmid">
            <p class="pane">交互面板</p>
            <div class="condition" style='position:relative;'>
                <!--111-->
                <span class="cdt1" style="display: block;margin: 10px 0 0 20px;color: #777;font-size: 14px">节点筛选</span>
                <div class="cdt2">
                    <div class="checkbox">
                        <label style="display: block;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                            <input id='user' class="per" type="checkbox"/> 人物
                        </label>
                        <label style="display: block;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                            <input id='event' class="per" type="checkbox" checked/> 事件
                        </label>
                    </div>
                </div>
                <!--222-->
                <span class="cdt3" style="display: block;margin: 10px 0 0 20px;color: #777;font-size: 14px">关系筛选</span>
                <div class="cdt4">
                    <div class="checkbox" class='perent'>
                        <span class="dian"></span>
                        <span style='display:inline-block;margin: 10px 0 0 0px;color: #777;font-size: 12px;'>
                            人物 - 事件关系
                        </span>
                        <label style="display: block;margin-left: 50px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                            <input id='join' class="join" type="checkbox" checked/> 参与讨论
                        </label>
                        <label style="display: block;margin-left: 50px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                            <input id='pusher' class="pusher" type="checkbox" checked/> 趋势推动
                        </label>
                        <label style="display: block;margin-left: 50px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                            <input id='make' class="make" type="checkbox" checked/> 趋势制造
                        </label>
                        <label style="display: block;margin-left: 50px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                            <input id='other' class="other" type="checkbox" checked/> 其他关系
                        </label>
                    </div>
                    <div class="checkbox" class='evnt'>
                        <span class="dian"></span>
                        <span style='display: inline-block;margin: 10px 0 0 0px;color: #777;font-size: 12px;'>
                            事件 - 事件关系
                        </span>
                        <label style="display: block;margin-left: 50px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                            <input id='emain' class="emain" type="checkbox" checked/> 主题关联
                        </label>
                        <label style="display: block;margin-left: 50px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                            <input id='evother' class="evother" type="checkbox" checked/> 其他关系
                        </label>
                    </div>
                </div>
                <!--333-->
                <span class="cdt3" style="display: block;margin: 10px 0 0 20px;color: #777;font-size: 14px">节点扩展</span>
                <div class="cdt4">
                    <div class="radio" style="display: block;margin-left: 50px;margin-top: 5px;color: #9d9d9d;font-size: 12px">
                        <label>
                            <input type="radio" name="optionsRadios" id="none" checked>
                            不扩展
                        </label>
                    </div>
                    <div class="radio" style="display: block;margin-left: 50px;margin-top: 5px;color: #9d9d9d;font-size: 12px">
                        <label>
                            <input type="radio" name="optionsRadios" id="oneone" value="option1">
                            扩展一层
                        </label>
                    </div>
                    <div class="radio" style="display: block;margin-left: 50px;margin-top: 5px;color: #9d9d9d;font-size: 12px">
                        <label>
                            <input type="radio" name="optionsRadios" id="twotwo" value="option2">
                            扩展二层
                        </label>
                    </div>
                </div>
                <!--444-->
                <button class="cdt5" style='position:absolute;bottom:-37px;margin:0;'>确定</button>
            </div>
        </div>
        <div class="midright" style="margin-right: 0">
            <p class="place" style="position: relative;left: 300px;">地区分布</p>
            <div id="placeimg">

            </div>
        </div>
    </div>
    <div id="similar">
            <p class="simtop">
                <button class="include" style="background-color: #00cc66;">包含事件</button><!--
                    --><button class="same">相似事件</button>
            </p>
            <div class="definite">
                <div class="defone">
                    <div class="radio" style="display:inline-block;margin-left: 30px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="fasheng" checked> 发生时间
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="canyu" value="option2"> 参与人数
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="redu" value="option3"> 热度
                        </label>
                    </div>
                </div>
                <div class="deftwo">
                    <div class="sjmr1">
                        <img src="/static/image/left.png" class="left">
                        <div id="case" style="display: inline-block;width:1020px;overflow: hidden;
                        margin-left: 15px;">
                            <div id="run" style="transition: all 1s linear;height:190px;text-align:center;">
                                
                            
                            </div>
                        </div>
                        <img src="/static/image/right.png" class="right" style='left:15px;'>
                    </div>
                </div>
            </div>
            <div class="samevent" style="display: none;">
                <div class="sameone">
                    <div class="radio" style="display:inline-block;margin-left: 30px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadio" value="option1" checked> 相似度
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadio" value="option2"> 发生时间
                        </label>
                    </div>
                    <p class="direct1" style='float:right;font-size:12px;color: #9d9d9d;margin-right: 90px;'>
                       <!--  <label class="radio-inline">
                            <input type="radio" name="rose" value="option1"> 1跳
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rose" value="option2"> 2跳
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rose" value="option2" checked> 全部
                        </label> -->
                        <button class="add22" type="button" data-toggle="modal">添加</button>
                    </p>
                </div>
                <div class="sametwo">
                    <div class="sjmr1">
                        <img src="/static/image/left.png" alt="" class="left">
                        <div id="case1" style="display: inline-block;width:1020px;overflow: hidden;">
                            <div id="run1" style="transition: all 1s linear;height:190px;text-align:center;">
                                <div class="play">
                                    <div class="play1">
                                        <div class="p11">
                                            <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                            --><img src="/static/image/dingwei.png" alt=""><!--
                                            --><span class="difang" style="font-size: 8px">山东</span><!--
                                            --><img class="xin" src="/static/image/heart.png" alt="">
                                        </div>
                                        <div class="p22">
                                            <span class="fasheng" style="font-weight: bold">发生时间：</span>
                                            <span class="riqi">2016-08-19</span>
                                        </div>
                                    </div>
                                    <img class="play2" src="/static/image/xuyuyu.png" alt="">
                                    <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                                        <a class="bus1">业务标签：</a>
                                        <a class="bus2">诈骗</a>
                                        <a class="bus2">大学生</a>
                                        <a class="bus2">离世</a>
                                    </div>
                                    <div class="play4">
                                        <p class="shuoming">
                                            徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                                        </p>
                                    </div>
                                    <div class="play5" type="button" data-toggle="modal">
                                        <a>加入专题</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="/static/image/right.png" class="right" style='left:15px;'>
                    </div>
                </div>
            </div>
        </div>
        <div id="people">
            <p class="peone">
                <button class="include" style="background-color: #00cc66;">关联人物</button>
            </p>
            <div class="peotwo">
                <div class="peotwo1">
                    <div class="radio" style="display:inline-block;margin-left: 30px;margin-top: 10px;color: #9d9d9d;font-size: 12px">
                        <label class="radio-inline">
                            <input type="radio" name='hjas' id="zhongyao" checked value="option2"> 重要度
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name='hjas' id="huoyue"> 活跃度
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name='hjas' id="mingan" value="option3"> 敏感度
                        </label>
                    </div>
                    <p class="direct1" style='float:right;font-size:12px;color: #9d9d9d;margin-right: 90px;'>
                        <button class="add22" type="button" data-toggle="modal">添加</button>
                    </p>
                </div>
                <div class="peotwo2">
                    <div class="sjmr1">
                        <img src="/static/image/left.png" class="left">
                        <div id="case2" style="display: inline-block;width:1020px;margin-left: 15px;
                        overflow: hidden;">
                            <div id="run2" style="transition: all 1s linear;height:190px;text-align:center;">
                                
                            </div>
                        </div>
                        <img src="/static/image/right.png" class="right" style="left:15px;">
                    </div>
                </div>
            </div>
        </div>
    <div id="total">
        <p class="talone">
            <button class="all" style="background-color: #00cc66;">事件总览</button>
        </p>
        <div id="taltwo">

        </div>
    </div>
</div>
<div class="modal fade" id="join6" tabindex="-3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">添加群体</h2>
            </div>
            <div class="modal-body">
                <div class="xinzeng" style="margin-top: 20px;padding-left: 20px;">
                            <!-- <p class="tit">新建专题</p> -->
                            <form style="margin-left: 40px;">
                                <span class="xz1">群体名称</span>
                                <select name="" id="list1" onchange='check(this.value)'>
                                    <option value="" disabled selected>请选择群体名称</option> 
                                    <option value="新建群体">新建群体</option>
                                    <!-- <option value="律师群体">律师群体</option> -->
                                </select>
                                <input type="text" class="shuru2" placeholder="请输入群体名称"/>
                            </form>
                            <div class="shij">
                                <span class="sjr">加入人物</span>
                                <!-- <a class="sj1">邓海峰 <b class="icon icon-remove det"></b> </a>
                                <a class="sj2">潘强 <b class="icon icon-remove det"></b> </a> -->
                            </div>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join4" tabindex="-2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">温馨提示</h2>
            </div>
            <div class="modal-body">
                <p>您已选择此专题，选择完毕后请点击右上角 “ 添加 ” 按钮，加入到专题中O(∩_∩)O<br>
                    如您不需要可以再次点击取消选择专题</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join5" tabindex="-2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">添加提示</h2>
            </div>
            <div class="modal-body">
                <p>您确定添加吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="join5" tabindex="-1">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">编辑专题</h2>
            </div>
            <div class="modal-body">
                <div class="xinzeng" style="margin-top: 20px;padding-left: 20px;"> -->
                    <!-- <p class="tit">专题编辑</p> -->
                    <!-- <form style="margin-left: 40px;">
                        <span class="xz1">专题名称</span>
                        <select name="" id="list1" onchange='check2(this.value)'>
                            <option value="" disabled selected>请选择专题名称</option> 
                            <option value="新建专题">新建专题</option>
                            <option value="电信诈骗">电信诈骗</option>
                        </select>
                        <input type="text" class="shuru2" placeholder="请输入专题名称" style='display:none'/>
                    </form>
                    <div class="shij">
                        <span class="sjr">加入事件</span>
                        <a class="sj1">徐玉玉事件 <b class="icon icon-remove det"></b> </a>
                        <a class="sj2">大学生失联 <b class="icon icon-remove det"></b> </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}
{% block my_js %}
<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=oHDtLqS40HV7dTqlNWYUc5IYvSLq60pS">
</script>-->
<script type="text/javascript">
    var theme_explanation='{{t_name}}';
    $("#container .present .preone .preonemd").html(theme_explanation);
</script>
<script src="/static/js/proults2.js"></script>
<script src="/static/js/proults3.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script>
    var show = 0;
    $(".ptnew").on("click",function () {
        if (show==0) {
            $(".prethrmd").css({display:'inline-block'});
            show = 1;
            $('#container .present .prethr .prethrmd .ptm3').on('click',function(){
                var tnew_name=$('#container .present .prethr .prethrmd #ptm2').val();
                window.open("/theme/detail/?t_name="+tnew_name);
            });
        }else {
            $(".prethrmd").css({display:'none'});
            show = 0;
        }
    });
    $("#container #similar .simtop .include").on('click',function () {
        $(this).css({backgroundColor:"#0C6"}).siblings().css({backgroundColor:"#09F"});
        $("#container #similar .definite").css({display:'block'});
        $("#container #similar .samevent").css({display:'none'});
    });
    $("#container #similar .simtop .same").on('click',function () {
        $(this).css({backgroundColor:"#0C6"}).siblings().css({backgroundColor:"#09F"});
        $("#container #similar .samevent").css({display:'block'});
        $("#container #similar .definite").css({display:'none'});
    });
    //鼠标滑过
    $('#container #similar .definite .deftwo .left').hover(function () {
        $(this).attr('src','/static/image/left_hv.png');
    },function () {
        $(this).attr('src','/static/image/left.png');
    });
    $('#container #similar .definite .deftwo .right').hover(function () {
        $(this).attr('src','/static/image/right_hv.png');
    },function () {
        $(this).attr('src','/static/image/right.png');
    });
    $('#container #similar .samevent .sametwo .left').hover(function () {
        $(this).attr('src','/static/image/left_hv.png');
    },function () {
        $(this).attr('src','/static/image/left.png');
    });
    $('#container #similar .samevent .sametwo .right').hover(function () {
        $(this).attr('src','/static/image/right_hv.png');
    },function () {
        $(this).attr('src','/static/image/right.png');
    });
    $('#container #people .peotwo .peotwo2 .left').hover(function () {
        $(this).attr('src','/static/image/left_hv.png');
    },function () {
        $(this).attr('src','/static/image/left.png');
    });
    $('#container #people .peotwo .peotwo2 .right').hover(function () {
        $(this).attr('src','/static/image/right_hv.png');
    },function () {
        $(this).attr('src','/static/image/right.png');
    });

    
    var play=$(".play");
    $.each(play,function (index,item) {
        $(item).hover(function () {
            $(item).find(".play5").css({
                "-webkit-transform":"translateY(-40px)",
                "-moz-transform":"translateY(-40px)",
                "-ms-transform":"translateY(-40px)",
                "-o-transform":"translateY(-40px)",
                "transform":"translateY(-40px)",
            })
        },function () {
            $(item).find(".play5").css({
                "-webkit-transform":"translateY(40px)",
                "-moz-transform":"translateY(40px)",
                "-ms-transform":"translateY(40px)",
                "-o-transform":"translateY(40px)",
                "transform":"translateY(40px)",
            })
        });
    });
    $.each(play,function (index,item) {
        var changecolor=1;
        $(item).find(".play5").on('click',function(){
            if (changecolor==1) {
                $(this).parent('.play').css({backgroundColor:'#09F'});
                $(this).find('a').text('取消专题');
                changecolor=2;
                $('#join4').modal("show");
            } else {
                $(this).parent('.play').css({backgroundColor:'#d2dcf7'});
                $(this).find('a').text('加入专题');
                changecolor=1;
            }
        }); 
    });
    
$('#similar .add22').on('click',function () {
    $('#join5').modal("show");
});
$('#people .add22').on('click',function () {
    $('#join6').modal("show");
});
function check(value){
    if (value=='新建群体') {
        $('.shuru2').show();
    }else{
        $('.shuru2').hide();
    };
};
function check2(value){
    if (value=='新建专题') {
        $('.shuru2').show();
    }else{
        $('.shuru2').hide();
    };
};
// $.each($("#similar .xingming"),function(index,item){
//     $(item).on('click',function () {
//         window.open('/index/search_result/');
//     });
// });

</script>
{% endblock %}