/*清除初始的样式*/
html,body,div,img,h1,h2,h3,h4,h5,h6,input,button,span,p,b,strong,em,li,ul,ol,dl,dt,dd,
th,textarea,select,table,form {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul,li,ol {
    list-style: none;
}
img {
    border:none;
}
input,select,textarea,button {
    outline: none;
    border: none;
}
a,a:link,a:hover,a:visited,a:active {
    text-decoration: none;
}
/*内容样式*/
#container {
    margin-left: 125px;
    padding: 20px 0 0;
}
#container .con_top .choose .ch1,#container .con_bot .add .add1 {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    width: 150px;
    height: 32px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #09F;
}
#container .con_top .choose .tuli,#container .con_bot .add #shijian {
    width:1200px;
    height: 680px;
    border: 1px solid #09F;
    box-shadow: 3px 3px 3px #c9c2c7;
}
#container .con_top .choose .tuli .menu {
    margin: 30px 0 30px 40px;
}
#container .con_top .choose .tuli #spread {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}
#container .con_top .choose .tuli .menu .zhmi {
    font-weight: 900;
    font-size: 14px;
    color: #4b4b4b;
    display: inline-block;
}
#container .con_top .choose .tuli .menu form {
    display: inline-block;
    margin-right: 30px;
}
#container .con_top .choose .tuli .menu form #list {
    padding: 5px 5px 5px 10px;
    border:1px solid #c7c7c7;
    font-size: 14px;
    margin-left: 15px;
    width: 230px;
}
#container .con_top .choose .tuli .menu .msure,#container .con_bot .add #shijian .sjt .sjt2 {
    width: 70px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: white;
    background-color: #0099FF;
    border-radius: 10px;
    display: inline-block;
    margin-left: 30px;
}
#container .con_bot .add #shijian .sjt .sjt2:hover,#container .con_top .choose .tuli .menu .msure:hover {
    background-color: #4cae4c;
}
/*下部*/
#container .con_bot {
    margin-top: 30px;
    margin-bottom: 30px;
}
#container .con_bot .add #shijian .bag {
    width: 100%;
    height:450px;
}
#container .con_bot .add #shijian .sjt {
    margin: 20px 0 20px 30px;
    color: #4b4b4b;
    font-weight: 900;
}
#container .con_bot .add #shijian .sjt .sjt1 {
    padding: 5px 5px 5px 10px;
    border:1px solid #c7c7c7;
    margin-left: 20px;
}
#container .con_bot .add #shijian .sjt .sjt2 {
    margin-left: 15%;
}
#container .con_bot .add #shijian #site {
    width: 370px;
    height: 400px;
    margin-left: 10px;
    /*background-color: #3c763d;*/
    float: left;
}
#container .con_bot .add #shijian .sjmr {
    /*width: 765px;*/
    padding: 5px 0;
    /*margin-left: 10px;*/
    /*height: 350px;*/
    /*background-color: saddlebrown;*/
    float: left;
}
#container .con_bot .add #shijian .bag .sjmr1 .direct1,#container .con_bot .add #shijian .bag .sjmr2 .direct2 {
    font-weight: 900;
    font-size: 14px;
    color: black;
    display: block;
}
#container .con_bot .add #shijian .bag .left,#container .con_bot .add #shijian .bag .right {
    width: 30px;
    height: 95px;
    display: inline-block;
    margin-top: -140px;
    cursor: pointer;
}
#container .con_bot .add #shijian .bag .play {
    width: 240px;
    padding: 5px;
    height: 160px;
    margin-left: 5px;
    margin-top: 15px;
    border:1px solid #0099FF;
    box-shadow: 2px 2px 2px #878787;
    transition: all 0.8s linear;
    background-color: #d2dcf7;
}
#container .con_bot .add #shijian .bag .play {
    overflow: hidden;
    display: inline-block;
}
#container .con_bot .add #shijian .bag .play .play1 {
    width: 170px;
    margin-top: 5px;
    float: left;
}
#container #shijian .play1 .p11 span,#container #shijian .play1 .p11 img {
    display: inline-block;
}
#container #shijian .play2 {
    float: left;
}
#container #shijian .play2 {
    width: 50px;
    height: 55px;
}
#container #shijian .play3 .bus1 {
    font-weight: bold;
    display: inline-block;
    padding-top: 2px;
    color: #000;
}
#container #shijian .play3 .bus2 {
    color: #000;
    display: inline-block;
    margin-left: 5px;
    background-color: #0099FF;
    padding: 3px 2px 0 2px;
    border-radius: 5px;
    font-size: 8px;
}
#container #shijian .play4 .shuoming {
    margin-top: 10px;
    font-size: 12px;
    color: rgba(75, 75, 75, 0.84);
}
#container #shijian .play5 {
    position: relative;
    top:25px;
    left: -5px;
    z-index: 10;
    width: 239px;
    height: 40px;
    transition: all 0.3s linear;
}
#container #shijian .play5 a {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #0099FF;
    line-height: 40px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}
#container .con_bot .add #shijian .bag .sjmr2 {
    margin-top: 20px;
}
#container .con_bot .add #shijian .xinzeng .tit {
    font-weight: 900;
    font-size: 24px;
    color: #070707;
}
#container .con_bot .add #shijian .xinzeng .xz1,#container .con_bot .add #shijian .xinzeng input,
#container .con_bot .add #shijian .xinzeng #list1 {
    display: inline-block;
}
#container .con_bot .add #shijian .xinzeng form button {
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: white;
    font-weight: 900;
    background-color: #0099FF;
    border-radius: 5px;
    margin-left: 5%
}
#container .con_bot .add #shijian .xinzeng form button:hover {
    background-color: #4cae4c;
}
#container .con_bot .add #shijian .xinzeng input,#container .con_bot .add #shijian .xinzeng #list1 {
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin-left: 30px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #5e5e5e;
}
#container .con_bot .add #shijian .xinzeng .shij {
    margin-left: 40px;
    margin-top: 10px;
}
#container .con_bot .add #shijian .xinzeng .shij a {
    display: inline-block;
    margin-left: 30px;
    background-color: #0099FF;
    color: white;
    font-weight: bold;
}



