/*内容样式*/
#container {
    margin-left: 125px;
    padding: 20px 0 0;
}
#container .conleft,#container .conright,#container .conright2 {
    float: left;
}
#container .conleft .lfone,#container .conleft .lftwo {
    width: 28px;
    text-align: center;
    padding: 5px;
    background-color: #00cc66;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #337ab7;
    margin-top: 40px;
    cursor: pointer;
}
#container .conleft .lftwo {
    background-color: #0099ff;
    margin-top: 10px;
}
#container .conright,#container .conright2 {
    width: 1170px;
    /*height: 500px;*/
    padding: 30px 10px 190px 30px;
    border: 2px solid #0099FF;
    margin-bottom: 30px;
    /*box-shadow: 3px 3px 3px #0099FF;*/
}
#container .conright .crt1 .crt111,#container .conright .crt1 .crt122,
#container .conright .crt1 .crt133 {
    display: inline-block;
    margin-left: 30px;
}
#container .conright .crt1 .crt111 span,#container .conright .crt1 .crt122 span {
    color: black;
    font-weight: 700;
    font-size: 14px;
    margin-left: 30px;
}
#container .conright .crt1 .crt111 #list1,#container .conright .crt1 .crt122 input {
    border: 1px solid #0099FF;
    width: 200px;
    padding: 5px;
    margin-left: 10px;
}
#container .conright .crt1 .crt133 {
    width: 70px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: #0099FF;
    border-radius: 10px;
    margin-left: 50px;
}
#container .conright .crt1 .crt133:hover {
    background-color: #4cae4c;
}
#container .conright .crt2 {
    margin-left: 50px;
    margin-top: 50px;
}
#container .conright .crt2 .crt2lf {
    width: 400px;
    float: left;
}
/*#container .conright .crt2 .crt2lf th {*/
    /*!*color: white;*!*/
    /*font-weight: 600;*/
/*}*/
/*#container .conright .crt2 .crt2lf th,#container .conright .crt2 .crt2lf td {*/
    /*text-align: center;*/
    /*width: 133px;*/
/*}*/
#container .conright .crt3 .crt2rg .play {
    width: 240px;
    padding: 5px;
    height: 170px;
    margin-right: 5px;
    margin-top: 10px;
    background: url("/static/image/peo_card.jpg") no-repeat;
    background-size: 240px 170px;
    border-radius:5px;
    transition: all 1s linear;
    overflow: hidden;
    display: inline-block;
}
#container .conright .crt3 .crt2rg .play .play1 {
    width: 110px;
    text-align: left;
}
#container .conright .crt3 .crt2rg .play1 .p11 span,#container .conright .crt3 .crt2rg .play1 .p11 img,
#container .conright .crt3 .crt2rg .play1 .p22 span,#container .conright .crt3 .crt2rg .play1 .p22 img,
#container .conright .crt3 .crt2rg .play1 .p11,#container .conright .crt3 .crt2rg .play1 .p22 {
    display: inline-block;
    color: white;
    font-size: 8px;
}
#container .conright .crt3 .crt2rg .play .play2 {
    width: 55px;
    height: 55px;
    display: block;
    border: 3px solid black;
    border-radius: 50%;
    margin: 0 auto;
}
#container .conright .crt3 .crt2rg .play .play23 a {
    display: block;
    margin-top: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}
#container .conright .crt3 .crt2rg .play .play23 a span {
    display: block;
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    font-size: 8px;
    font-weight: 100;
    color: white;
}
#container .conright .crt3 .crt2rg .play .play3 .bus1 {
    display: block;
    margin-top: 5px;
    font-size: 8px;
    font-weight: 100;
    color: white;
}
#container .conright .crt3 .crt2rg .play .play3 .bus2 {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    margin-left: 5px;
    display: inline-block;
    padding: 3px 2px 0 2px;
    border-radius: 5px;
    font-size: 8px;
    font-weight: 100;
    color: white;
    background-color: #999;
}
/*#container .conright .crt3 .crt2rg .play .play4 .shuoming {*/
    /*margin-top: 10px;*/
    /*font-size: 12px;*/
    /*color: rgba(42, 42, 42, 0.62);*/
/*}*/
#container .conright .crt3 .crt2rg .play .play5 {
    position: relative;
    top:5px;
    left: -5px;
    z-index: 10;
    transition: all .6s linear;
    clear: both;
}
#container .conright .crt3 .crt2rg .play .play5 a {
    display: block;
    width: 240px;
    height: 40px;
    background-color: #44b4e6;
    line-height: 40px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}
#container .conright2 .editor .editor1,#container .conright2 .editor .editor2,#container .conright2 .editor .editor3,
#container .conright2 .editor .editor111,#container .conright2 .editor .editor222 {
    display: inline-block;
}
#container .conright2 .editor .editor111,#container .conright2 .editor .editor222 {
    border: 1px solid #0099FF;
}
#container .conright2 .editor .editor3,#container .conright2 .listcell .lcright .lcr2 .yes {
    display: inline-block;
    width: 54px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: #0099FF;
    border-radius: 10px;
    margin-left: 50px;
}
#container .conright2 .editor .editor3:hover,#container .conright2 .listcell .lcright .lcr2 .yes:hover {
    background-color: #4cae4c;
}
#container .conright2 .editor {
    margin-left: 30px;
}
#container .conright2 .listcell {
    margin-top: 30px;
    margin-left: 30px;
}
/*#container .conright2 .listcell .lcleft th,#container .conright2 .listcell .lcleft td {*/
    /*text-align: center;*/
/*}*/
/*#container .conright2 .listcell thead {*/
    /*background-color: #00cc66;*/
/*}*/
/*#container .conright2 .listcell thead th {*/
    /*color: white;*/
    /*font-weight: 700;*/
/*}*/
#container .conright2 .listcell .lcleft,#container .conright2 .listcell .lcright {
    float: left;
}
/*#container .conright2 .listcell .lcleft,*/
#container .conright2 .listcell .lcright {
    width: 450px;
    height: 300px;
}
#container .conright2 .listcell .lcright {
    margin-left: 30px;
    border: 2px solid #0099FF;
    box-shadow: 3px 3px 3px #a5a5a5;
}
#container .conright2 .listcell .lcright .lcr1,#container .conright2 .listcell .lcright .lcr2 {
    margin: 20px 0 0 30px;
}
#container .conright2 .listcell .lcright .lcr1 span {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    color: #5e5e5e;
    font-weight: bold;
}
#container .conright2 .listcell .lcright .lcr2 .chosion {
    font-size: 16px;
    color: #222222;
    font-weight: bold;
}
#container .conright2 .listcell .lcright .lcr2 label {
    font-size: 14px;
    color: #5e5e5e;
    display: inline-block;
    margin: 20px 50px 0 20px;
}
.add22 {
    width: 70px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: white;
    background-color: #0099FF;
    border-radius: 10px;
    display: inline-block;
    margin-left: 30px;
}
.add22:hover {
    background-color: #4cae4c;
}
.xinzeng .xz1,.xinzeng input,.xinzeng #list1 {
    display: inline-block;
}
.xinzeng input,.xinzeng #list1 {
    width: 130px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    margin-left: 30px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #5e5e5e;
}
.xinzeng .shij {
    margin-left: 40px;
    margin-top: 10px;
}
.xinzeng .shij a {
    display: inline-block;
    margin-left: 30px;
    background-color: #0099FF;
    color: white;
    font-weight: bold;
}



