<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的图谱 - 我的群体</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/myfocus.css">
</head>
<body>
<div id="nav"></div>
<div id="container">
    <div class="main">
        <p class="focusper">我关注的人</p>
        <div class="main1">
            <table class="table grid">
                <thead>
                <tr style="background-color: #0099FF;">
                    <th>序号</th>
                    <th>人物</th>
                    <th>业务标签</th>
                    <th>关注时间</th>
                    <th>查看详情</th>
                    <th>编辑</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active">
                    <td>1</td>
                    <td>任志强</td>
                    <td><a href="">标签1、</a><a href="">标签2、</a><a href="">标签3</a></td>
                    <td>2016-09-09</td>
                    <td>查看详情</td>
                    <td>取消关注</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>任志强</td>
                    <td><a href="">标签1、</a><a href="">标签2、</a><a href="">标签3</a></td>
                    <td>2016-09-09</td>
                    <td>查看详情</td>
                    <td>取消关注</td>
                </tr>
                <tr class="active">
                    <td>3</td>
                    <td>任志强</td>
                    <td><a href="">标签1、</a><a href="">标签2、</a><a href="">标签3</a></td>
                    <td>2016-09-09</td>
                    <td>查看详情</td>
                    <td>取消关注</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>任志强</td>
                    <td><a href="">标签1、</a><a href="">标签2、</a><a href="">标签3</a></td>
                    <td>2016-09-09</td>
                    <td>查看详情</td>
                    <td>取消关注</td>
                </tr>
                <tr class="active">
                    <td>5</td>
                    <td>任志强</td>
                    <td><a href="">标签1、</a><a href="">标签2、</a><a href="">标签3</a></td>
                    <td>2016-09-09</td>
                    <td>查看详情</td>
                    <td>取消关注</td>
                </tr>
                </tbody>
            </table>
            <div class="play" style="display: none">
                <div class="play1">
                    <div class="p11">
                        <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px;margin-left: 15px">潘强</span><!--
                                        --><img style="margin-left: 15px;" src="../image/fensishu.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">6720</span><!--
                                        --><img style="margin-left: 10px;" src="../image/focus.png" alt="">
                    </div>
                    <div class="p22" style="margin-top: 5px">
                        <img style="margin-left: 10px;" src="../image/influence.png" alt="">
                        <span class="influence">3083</span>
                        <img src="../image/huoyuedu.png" alt="">
                        <span class="huoyuedu">254</span>
                        <img src="../image/mingan.png" alt="">
                        <span class="mingan">80</span>
                    </div>
                </div>
                <img class="play2" src="../image/pangzi.png" alt="">
                <div class="play23" style="margin-left: 15px;margin-top: 10px">
                    <a href="" class="renzh1">认证类型:<span class="renzh11">法律机构及人士</span></a>
                    <a href="" class="renzh2">领&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域:<span class="renzh22">民生类_健康</span></a>
                </div>
                <div class="play3" style="display:block;margin-top: 10px;vertical-align:bottom;padding-left: 15px">
                    <a class="bus1">业务标签：</a>
                    <a class="bus2">律师</a>
                    <a class="bus2">法律人士</a>
                </div>
                <!--<div class="play4">-->
                <!--<p class="shuoming">-->
                <!--徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。-->
                <!--</p>-->
                <!--</div>-->
                <!--<div class="play5">-->
                <!--<a href="">加入群体探索</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="maintwo">
        <p class="focusper">我关注的事件</p>
        <div class="main1">
            <table class="table grid">
                <thead>
                <tr style="background-color: #0099FF;">
                    <th>序号</th>
                    <th>事件名称</th>
                    <th>业务标签</th>
                    <th>关注时间</th>
                    <th>查看详情</th>
                    <th>编辑</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active">
                    <td>1</td>
                    <td>徐玉玉事件</td>
                    <td><a href="">标签1、</a><a href="">标签2、</a><a href="">标签3、</a></td>
                    <td>2016-09-09</td>
                    <td class="details">查看详情</td>
                    <td>取消关注</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>徐玉玉事件</td>
                    <td><a href="">标签1、</a><a href="">标签2、</a><a href="">标签3、</a></td>
                    <td>2016-09-09</td>
                    <td>查看详情</td>
                    <td>取消关注</td>
                </tr>
                <tr class="active">
                    <td>3</td>
                    <td>徐玉玉事件</td>
                    <td><a href="">标签1、</a><a href="">标签2、</a><a href="">标签3、</a></td>
                    <td>2016-09-09</td>
                    <td>查看详情</td>
                    <td>取消关注</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>徐玉玉事件</td>
                    <td><a href="">标签1、</a><a href="">标签2、</a><a href="">标签3、</a></td>
                    <td>2016-09-09</td>
                    <td>查看详情</td>
                    <td>取消关注</td>
                </tr>
                <tr class="active">
                    <td>5</td>
                    <td>徐玉玉事件</td>
                    <td><a href="">标签1、</a><a href="">标签2、</a><a href="">标签3、</a></td>
                    <td>2016-09-09</td>
                    <td>查看详情</td>
                    <td>取消关注</td>
                </tr>
                </tbody>
            </table>
            <div class="play" style="display: none">
                <div class="play1">
                    <div class="p11">
                        <span class="xingming" style="color: #000;font-weight: 900;font-size: 18px">徐玉玉事件</span><!--
                                        --><img src="../image/dingwei.png" alt=""><!--
                                        --><span class="difang" style="font-size: 8px">山东</span><!--
                                        --><img src="../image/heart.png" alt="">
                    </div>
                    <div class="p22">
                        <span class="fasheng" style="font-weight: bold">发生时间：</span>
                        <span class="riqi">2016-08-19</span>
                    </div>
                </div>
                <img class="play2" src="../image/xuyuyu.png" alt="">
                <div class="play3" style="display: inline-block;margin-top: 10px;vertical-align:bottom;">
                    <a class="bus1">业务标签：</a>
                    <a class="bus2">诈骗</a>
                    <a class="bus2">大学生</a>
                    <a class="bus2">离世</a>
                </div>
                <div class="play4">
                    <p class="shuoming">
                        徐玉玉接到骗子电话后被骗9900元学费，报案回来的路上心脏骤停，离世。
                    </p>
                </div>
                <!--<div class="play5" type="button" data-toggle="modal" style="transform: translateY(40px);">-->
                    <!--<a href="#">加入专题</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/myfocus.js"></script>
<script>
    $("#nav").load("public_nav.html");
    var heav1=$(".main .grid tr td");
    $.each(heav1,function (index,item) {
        $(item).on('click',function () {
            $(".main .play").show(20,function () {
//                $(this).sibling('.play').hide();
            });
        })
    });
    var heav2=$(".maintwo .grid tr td");
    $.each(heav2,function (index,item) {
        $(item).on('click',function () {
            $(".maintwo .play").show(20,function () {

            });
        })
    });
    console.log($("#container .maintwo .table td"));
    $("#container .maintwo .table .details").on('click',function () {
        window.open('incident.html');
    });
</script>
</body>
</html>