<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的图谱 - 我的专题</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/myspecial.css">
</head>
<body>
<div id="nav"></div>
<div id="container">
    <div class="main">
        <table class="table">
            <thead>
                <tr style="background-color: #0099FF;">
                    <th>序号</th>
                    <th>专题名称</th>
                    <th>主要事件</th>
                    <th>事件数量</th>
                    <th>创建时间</th>
                    <th>最近修改时间</th>
                    <th>编辑</th>
                </tr>
            </thead>
            <tbody>
            <tr class="active">
                <td>1</td>
                <td>专题1</td>
                <td><a href="">事件1、</a><a href="">事件2、</a><a href="">事件3</a></td>
                <td>3</td>
                <td>2016-09-09</td>
                <td>2016-09-09</td>
                <td>查看详情</td>
            </tr>
            <tr>
                <td>2</td>
                <td>专题1</td>
                <td><a href="">事件1、</a><a href="">事件2、</a><a href="">事件3</a></td>
                <td>3</td>
                <td>2016-09-09</td>
                <td>2016-09-09</td>
                <td>查看详情</td>
            </tr>
            <tr class="active">
                <td>3</td>
                <td>专题1</td>
                <td><a href="">事件1、</a><a href="">事件2、</a><a href="">事件3</a></td>
                <td>3</td>
                <td>2016-09-09</td>
                <td>2016-09-09</td>
                <td>查看详情</td>
            </tr>
            <tr>
                <td>4</td>
                <td>专题1</td>
                <td><a href="">事件1、</a><a href="">事件2、</a><a href="">事件3</a></td>
                <td>3</td>
                <td>2016-09-09</td>
                <td>2016-09-09</td>
                <td>查看详情</td>
            </tr>
            <tr class="active">
                <td>5</td>
                <td>专题1</td>
                <td><a href="">事件1、</a><a href="">事件2、</a><a href="">事件3</a></td>
                <td>3</td>
                <td>2016-09-09</td>
                <td>2016-09-09</td>
                <td>查看详情</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/myspecial.js"></script>
<script>
    $("#nav").load("public_nav.html");

</script>
</body>
</html>