{% extends "public_nav.html" %}
{% block title %}<title>我的图谱 - 我的专题</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/myspecial.css">
    <style type="text/css">
        .myspecial b,.myspecial a {
            color: #0099FF!important;
        }
        .fixed-table-footer,.pagination {
            display: block!important;
        }
        .bootstrap-table,.bootstrap-table .table:not(.table-condensed)>tbody>tr>td {
            width: 800px;
        }

    </style>
{% endblock %}

{% block main %}
<div id="container">
    <div class="main" id='main'>
        
    </div>
</div>
{% endblock %}
{% block my_js %}
<script src="/static/js/myspecial.js"></script>
<script type="text/javascript">
    $.each($('.menuList'),function(index,item){
        $(item).css({display:'none'});
        if (index==2) {
            $(item).css({display:'block'});
        };
    });
</script>
{% endblock %}