{% extends "public_nav.html" %}
{% block title %}<title>图谱管理-图谱添加</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/addmap.css">
    <style type="text/css">
        .addmap b,.addmap a {
            color: #09F!important;
        }
    </style>  
{% endblock %}

{% block main %}
<div id="container">
    <div class="conleft">
        <p class="lfone">添加节点</p>
        <p class="lftwo">添加关系</p>
    </div>
    <div class="conright">
        <div class="cr_top">
            <span class="crt1">节点类型</span>
            <div class="crt2">
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="inlnadns" id="inlineRadio2" value="option2" checked>    人物
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlnadns" id="inlineRadio3" value="option3">    事件
                    </label>
                </div>
            </div>
        </div>
        <div class="crm">
            <div class="checkbox crm1">
                <label>
                    <input type="checkbox"/> 上传文件:
                </label>
                <div class="form-group">
                    <input type="file" id="exampleInputFile" 
                    multiple onchange="handleFileSelect(this.files)"/>
                </div>
            </div>
            <button class="crm2">上传</button>
        </div>
        <div class="crmrg" style="margin-left: 60px;">
            <div class="checkbox crmrg1">
                <label>
                    <input type="checkbox"/> 手动输入:
                </label>
            </div>
            <input type="text" class="crmrg2" placeholder="请输入uid，多个uid用空格隔开" style="width: 230px;padding: 5px;
                font-size: 12px"/>
            <button class="crmrg3">确定</button>
        </div>
        <div class="things" style="display: none;margin-bottom: 30px">
            <div class="tslf">
                <span class="tslf1">事件名称</span>
                <input type="text" class="tslf2" style="padding: 5px;margin-left: 10px;font-size: 12px;"/>
            </div>
            <div class='leix' style='display:inline-block;margin-left: 20px;'>
                <span style='display:inline-block;color: black;font-weight: 700;
                font-size: 14px;'>
                    事件类型
                </span>
                <select style='display:inline-block;width: 150px;padding: 5px;margin-left: 10px;
                        font-size: 12px;border: 1px solid #0099FF;' onchange='check8(this.value)'>
                    <option value="" disabled selected>请选择事件类型</option>
                    <option value='军事国防'>军事国防</option>
                    <option value='交通'>交通</option>
                    <option value='国土资源'>国土资源</option>
                    <option value='境外敌对势力'>境外敌对势力</option>
                    <option value='灾害'>灾害</option>
                    <option value='社会公共安全'>社会公共安全</option>
                    <option value='维权上访'>维权上访</option>
                    <option value='信息产业'>信息产业</option>
                    <option value='信息安全'>信息安全</option>
                    <option value='工业'>工业</option>
                    <option value='网络安全'>网络安全</option>
                    <option value='中国共产党党务'>中国共产党党务</option>
                    <option value='国家政务'>国家政务</option>
                    <option value='外交'>外交</option>
                    <option value='政法监察'>政法监察</option>
                    <option value='综合党团'>综合党团</option>
                    <option value='卫生'>卫生</option>
                    <option value='文化体育'>文化体育</option>
                    <option value='旅游服务'>旅游服务</option>
                    <option value='人力资源与社会保障'>人力资源与社会保障</option>
                    <option value='人口计生'>人口计生</option>
                    <option value='农业'>农业</option>
                    <option value='住房与城乡建设'>住房与城乡建设</option>
                    <option value='环境保护'>环境保护</option>
                    <option value='能源'>能源</option>
                    <option value='科技教育'>科技教育</option>
                    <option value='商业贸易'>商业贸易</option>
                    <option value='宏观经济'>宏观经济</option>
                    <option value='财政金融'>财政金融</option>
                    <option value='其他'>其他</option>
                </select>
            </div>
            <div class="tsrg" style='float:right;margin-top:-28px;'>
                <span class="tsrg1" style='display:inline-block;margin:0;'>时间：</span>
                <!-- <input type="date" class="tsrg2" style="width: 230px;padding: 5px;
                font-size: 12px"/> -->
                <div class="tsrg2" style="width: 480px!important;padding: 0;border:none;display:inline-block;
                position:relative;top:7px;">
                                <span style="display: inline-block;
                                            position: relative;top: -8px;font-size: 14px;font-weight: 700;">从</span>
                                <div class='' style="display: inline-block;width: 200px;margin: 20px 0 0 0;">
                                    <div class="form-group" style="margin: 0">
                                        <div class='input-group date' id='datetimepicker6'>
                                            <input type='text' class="form-control start" style="height: 28px"/>
                                            <span class="input-group-addon">
                                                    <span class="icon icon-calendar"></span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <span style="display: inline-block;
                                            position: relative;top: -8px;font-size: 14px;font-weight: 700;">到</span>
                                <div class='' style="display: inline-block;width: 200px;">
                                    <div class="form-group" style="margin: 0">
                                        <div class='input-group date' id='datetimepicker7'>
                                            <input type='text' class="form-control end" style="height: 28px"/>
                                            <span class="input-group-addon">
                                                    <span class="icon icon-calendar"></span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                <button class="tsrg3">确定</button>
            </div>
        </div>
        <div class="task">
            <div class="btn-group task1">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button">
                    计算任务 <span class="caret"></span>
                </button>
            </div>
            <div class="table-responsive task2" style="display: none;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>任务名称</th>
                            <th>提交人</th>
                            <th>起始时间</th>
                            <th>终止时间</th>
                            <th>计算状态</th>
                            <th>查看详情</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>任务1</td>
                            <td>admin</td>
                            <td>2016-09-01</td>
                            <td>2016-09-02</td>
                            <td>计算完成</td>
                            <td><a>点击查看</a></td>
                        </tr>
                        <tr>
                            <td>任务2</td>
                            <td>admin</td>
                            <td>2016-09-01</td>
                            <td>2016-09-02</td>
                            <td>计算完成</td>
                            <td><a>点击查看</a></td>
                        </tr>
                        <tr>
                            <td>任务3</td>
                            <td>admin</td>
                            <td>2016-09-01</td>
                            <td>2016-09-02</td>
                            <td>计算中..</td>
                            <td><a>-</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="relevant" style="margin-left: -20px;display:none;">
            <div class="relevant1">相关节点
                <p style='float:right;font-size:12px;margin-top:3px;'>
                   <!--  <label class="radio-inline">
                        <input type="radio" name="idiefo" value="option1"> 1跳
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="idiefo" value="option2"> 2跳
                    </label>
                    <label class="radio-inline">    
                        <input type="radio" name="idiefo" value="option2" checked> 全部
                    </label> -->
                    <button class="add22 add33" type="button" data-toggle="modal">添加</button>
                </p>    
            </div>
            <div class="relevant2">
                <div id="complex" style="float: left">
                    <div id="complex1"></div>
                    
                </div>
                <img src="/static/image/left.png" style="margin-right:5px;" class="left"/>
                <div class="relevant3" style="float: left;width:490px;overflow: hidden;">
                    
                    <div class="re3lf" style="transition: all 1s linear;height:520px;">
                    
                        
                    </div>
                    
                </div>
                <img src="/static/image/right.png" alt="" class="right"/>
            </div>

        </div>
        <div class="tasktwo">
            <div class="btn-group task1" style='display:none;'>
                <button class="btn btn-default btn-lg dropdown-toggle" type="button">
                    计算任务 <span class="caret"></span>
                </button>
            </div>
            <div class="table-responsive task2" style="display: none;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>任务名称</th>
                            <th>提交人</th>
                            <th>起始时间</th>
                            <th>终止时间</th>
                            <th>计算状态</th>
                            <th>查看详情</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>任务1</td>
                            <td>admin</td>
                            <td>2016-09-01</td>
                            <td>2016-09-02</td>
                            <td>计算完成</td>
                            <td><a>点击查看</a></td>
                        </tr>
                        <tr>
                            <td>任务2</td>
                            <td>admin</td>
                            <td>2016-09-01</td>
                            <td>2016-09-02</td>
                            <td>计算完成</td>
                            <td><a>点击查看</a></td>
                        </tr>
                        <tr>
                            <td>任务3</td>
                            <td>admin</td>
                            <td>2016-09-01</td>
                            <td>2016-09-02</td>
                            <td>计算中...</td>
                            <td><a>-</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="relevanttwo" style="margin-left: -20px;display:none;">
            <div class="relevant1">相关节点
                <p style='float:right;font-size:12px;margin-top:3px;'>
                    <!-- <label class="radio-inline">
                        <input type="radio" name="idieerfo" value="option1"> 1跳
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="idieerfo" value="option2"> 2跳
                    </label>
                    <label class="radio-inline">    
                        <input type="radio" name="idieerfo" value="option2" checked> 全部
                    </label> -->
                    <button class="add22" type="button" data-toggle="modal">添加</button>
                </p>    
            </div>
            <div class="relevant2">
                <div id="complex2" style="float: left">
                    <div id="complex22"></div>
                    
                </div>
                <img src="/static/image/left.png" style="margin-right:5px;" class="left"/>
                <div class="relevant3" style="float: left;width:490px;overflow: hidden;">
                    <div class="re3lf" style="transition: all 1s linear;height:520px;">
                        
                    </div>
                </div>
                <img src="/static/image/right.png" class="right"/>
            </div>

        </div>
    </div>
    <div class="conright2" style="display: none;">
        <div class="manual">
            <div class="checkbox manual1">
                <label>
                    <input type="checkbox"/> 手动输入
                </label>
            </div>
            <div class="manual2">
                <div class="manual21">
                    <span>节点一</span>
                    <input type="text" class="manone"/>
                </div>
                <select class="jie1">
                    <option value="" disabled selected>请选择节点类型</option>
                    <option value="人物">人物</option>
                    <option value="事件">事件</option>
                </select>
                <div class="manual22">
                    <span>节点二</span>
                    <input type="text" class="mantwo"/>
                </div>
                <select class="jie2">
                    <option value="" disabled selected>请选择节点类型</option>
                    <option value="人物">人物</option>
                    <option value="事件">事件</option>
                </select>
                <div class="manual23">
                    <span>关系类型</span>
                    <select class='manthr' id='manthr' name="">
                        <option value="" disabled selected>请选择关系类型</option>
                        <option value="好友">好友</option>
                        <option value="同事">同事</option>
                        <option value="亲属">亲属</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
            </div>
            <div class="lat" style='float:right;margin:-26px 70px 0 0;'>
                    <b class="icon icon-plus jia"></b>
                </div>  
        </div>
        <div class="uploading">
            <div class="checkbox upload1">
                <label>
                    <input type="checkbox"/> 上传文件:
                </label>
                <div class="form-group filem">
                    <input type="file" id="relationFile" 
                    multiple onchange="relationFileSelect(this.files)"/>
                </div>
            </div>
            <button class="upload2">上传</button>
            <button class="upload3" type="button" data-toggle="modal">确&nbsp;&nbsp;&nbsp;&nbsp;定</button>
            <div class="modal fade upload333" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="mySmallModalLabel">添加提示信息</h4>
                        </div>
                        <div class="modal-body" style="text-align: center">
                            <span id='ot'></span>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join6" tabindex="-3">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">编辑专题</h2>
            </div>
            <div class="modal-body">
                <div class="xinzeng" style="margin-top: 20px;padding-left: 20px;">
                            <!-- <p class="tit">新建专题</p> -->
                            <form style="margin-left: 40px;">
                                <span class="xz1">群体名称</span>
                                <select name="" id="list1" onchange='check(this.value)'>
                                    <option value="" disabled selected>请选择群体名称</option> 
                                    <option value="新建群体">新建群体</option>
                                    <option value="律师群体">律师群体</option>
                                </select>
                                <input type="text" class="shuru2" placeholder="请输入群体名称"/>
                            </form>
                            <div class="shij">
                                <span class="sjr">加入人物</span>
                                <a class="sj1">邓海峰 <b class="icon icon-remove det"></b> </a>
                                <a class="sj2">潘强 <b class="icon icon-remove det"></b> </a>
                            </div>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join4" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">温馨提示</h2>
            </div>
            <div class="modal-body">
                <p>您已选择此专题，选择完毕后请点击右上角 “ 添加 ” 按钮，加入到专题中O(∩_∩)O<br>
                    如您不需要可以再次点击取消选择专题</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join2" tabindex="-3">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">编辑专题</h2>
            </div>
            <div class="modal-body">
                <div class="xinzeng" style="margin-top: 20px;padding-left: 20px;">
                    <!-- <p class="tit">专题编辑</p> -->
                    <form style="margin-left: 40px;">
                        <span class="xz1">专题名称</span>
                        <select name="" id="list1" onchange='check2(this.value)'>
                            <option value="" disabled selected>请选择专题名称</option> 
                            <option value="新建专题">新建专题</option>
                            <option value="电信诈骗">电信诈骗</option>
                        </select>
                        <input type="text" class="shuru2" placeholder="请输入专题名称" style='display:none'/>
                    </form>
                    <div class="shij">
                        <span class="sjr">加入事件</span>
                        <a class="sj1">徐玉玉事件 <b class="icon icon-remove det"></b> </a>
                        <a class="sj2">大学生失联 <b class="icon icon-remove det"></b> </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="way" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">温馨提示</h2>
            </div>
            <div class="modal-body">
                <p>请选择您添加的方式：上传文件/手动输入。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block my_js %} 
    <script src="/static/js/addmap.js"></script>
    <script src="/static/js/addmap2.js"></script>
    <script>
    $('#container .left').hover(function () {
        $(this).attr('src','/static/image/left_hv.png');
    },function () {
        $(this).attr('src','/static/image/left.png');
    });
    $('#container .right').hover(function () {
        $(this).attr('src','/static/image/right_hv.png');
    },function () {
        $(this).attr('src','/static/image/right.png');
    });
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker();
        $("#datetimepicker6").on("dp.change",function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change",function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
    $.each($('.menuList'),function(index,item){
        $(item).css({display:'none'});
        if (index==1) {
            $(item).css({display:'block'});
        };
    });
    function check(value){
        if (value=='新建群体') {
            $('.shuru2').show();
        }else{
            $('.shuru2').hide();
        };
    }
    function check2(value){
        if (value=='新建专题') {
            $('.shuru2').show();
        }else{
            $('.shuru2').hide();
        };
    }
    $.each($(".det"),function(index,item){
        $(item).on('click',function(){
            $(this).parent().fadeOut(300);
        });
    });
    $.each($('.jia'),function(index,item){
        $(item).on('click',function(){
            var ming=$(this).parent().prev().html();
            var str ="<div class='manual2' style='margin-top:10px;'>"+ming+"</div>"
            $(this).parent().prev().after(str);
        });
    });

    $('#container .conleft .lfone').on('click',function () {
        $(this).css({backgroundColor:'#00cc66'});
        $('#container .conleft .lftwo').css({backgroundColor:'#0099ff'});
    });
    $('#container .conleft .lftwo').on('click',function () {
        $(this).css({backgroundColor:'#00cc66'});
        $('#container .conleft .lfone').css({backgroundColor:'#0099ff'});
    })
    // $.each($('.jia'),function(index,item){
    //     $(item).on('click',function(){
    //         var ming=$(this).parent().parent().html();
    //         var str ="<div class='manual2' style='margin-top:10px;'>"+ming+"</div>";
    //         $('.manual2').after(str);
    //     });
    // });
    $('.relevant .add22').on('click',function () {
        $('#join6').modal("show");
    });
    $('.relevanttwo .add22').on('click',function () {
        $('#join2').modal("show");
    });  
    
        $("#inlineRadio2").on('click',function () {
            $("#inlineRadio2").prop("checked",true);
            $("#inlineRadio3").prop("checked",false);
            $(".things").css({display:'none'});
            $(".crm").css({display:'inline-block'});
            $(".crmrg").css({display:'inline-block'});
            $(".task").css({display:'block'});
            $(".tasktwo").css({display:'none'});
            $(".tasktwo .task1").css({display:'none'});
            $(".relevanttwo").css({display:'none'});
        });
        $("#inlineRadio3").on('click',function () {
            $("#inlineRadio3").prop("checked",true);
            $("#inlineRadio2").prop("checked",false);
            $(".things").css({display:'block'});
            $(".crm").css({display:'none'});
            $(".crmrg").css({display:'none'});
            $(".task").css({display:'none'});
            $(".relevant").css({display:'none'});
            $(".tasktwo").css({display:'block'});
            $(".tasktwo .task1").css({display:'block'});
        });
        $(".lfone").on('click',function () {
            $(".conright").css({display:'block'});
            $(".conright2").css({display:'none'});
        });
        $(".lftwo").on('click',function () {
            $(".conright").css({display:'none'});
            $(".conright2").css({display:'block'});
        });
        
        $('.task .task1').on('click',function () {
            $(".task .task2").slideDown(200);
        });
        $('.tasktwo .task1').on('click',function () {
            $(".tasktwo .task2").slideDown(200);
        });
        $.each($(".task .task2 tbody tr"),function (index,item) {
            var final=$(item).find('td');
            $(final[5]).on("click",function () {
                if($(final[5]).text()=="点击查看"){
                    $(".relevant").slideDown(200);
                }
            });
        });
        $.each($(".tasktwo .task2 tbody tr"),function (index,item) {
            var final=$(item).find('td');
            $(final[5]).on("click",function () {
                if($(final[5]).text()=="点击查看"){
                    $(".relevanttwo").slideDown(200);
                }
            });
        });

        //-----------关系的传送添加--------------

        //添加关系的文件读取函数
        function relationFileSelect(evt){
            var files = evt;
            for(var i=0,f;f=files[i];i++){
                var reader = new FileReader();
                reader.onload = function (oFREvent) {
                    var a = oFREvent.target.result;
                    $.ajax({
                        type:"POST",
                        url:"/construction/read_relation/",
                        dataType: "json",
                        async:false,
                        data:{new_words:a},
                        success: function(data){
                            if( data ){
                                var data=data;
                                //请在此部分写传输给翟树杰数据的函数wenjianchuanshu(data);
                                // alert("批量导入成功！");
                                $("#container .conright2 .uploading .upload2").on('click',function(){
                                    if($('#container .conright2 .uploading .upload1 input').is(":checked")){
                                        trans(data);
                                    }else {
                                        $('#way').modal("show");
                                    }
                                });
                            }
                        }
                    });
                };
                reader.readAsText(f,'GB2312');
            }
        }
        transport.prototype= {
            call_request:function(url,callback) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    async: true,
                    success:callback
                });
            },
        };
        var transport=new transport();
        function transport() {
            //this.ajax_method='GET'; // body...
        }
            
        // var onelx,twolx,oneidx,twoidx;
        // var rel_lx;
        // function build(value){
        //     if (value=='人物') {
        //         // onelx='uid';
        //         // oneidx='node_index';
        //         onelx='1';
        //     }else{
        //         // onelx='event';
        //         // oneidx='event_index';
        //         onelx='2';
        //     };
        // };
        // function build2(value){
        //     if (value=='人物') {
        //         // twolx='uid';
        //         // twoidx='node_index';
        //         twolx='1';
        //     }else{
        //         // twolx='event';
        //         // twoidx='node_index';
        //         twolx='2';
        //     };
        // };
        // function build3(value){
        //     rel_lx=value;
        // }
        function trans(rel_lists) {
             // var url = '/construction/create_relation/?node_key1='+onelx+'&node1_id='+one+'&node1_index_name='+
             //    oneidx+'&rel=join&node_key2='+twolx+'&node2_id='+two+'&node2_index_name='+twoidx;
            // var url = '/construction/nodes_or_nodes_rel/?list='+rel_lists;
            var url = '/construction/nodes_or_nodes_rel/';
            var relationships={'list':rel_lists};
            // transport.call_request(url,setup);
            $.ajax({
                type:'POST',
                url: url,
                contentType:"application/json",
                data: JSON.stringify(relationships),
                dataType: "json",
                success: setup
            });
        }
        $("#container .conright2 .uploading .upload3").on('click',function(){
            if($('#container .conright2 .manual .manual1 input').is(":checked")){
                var rel_list=[];
                for (var i =0;i<= $(".manual2").length-1; i++) {
                    var one=$($(".manual2")[i]).find(".manone").val();
                    var two=$($(".manual2")[i]).find(".mantwo").val();
                    var onelx_1=$($(".manual2")[i]).find(".jie1").val();
                    var twolx_2=$($(".manual2")[i]).find(".jie2").val();
                    var rel_lx=$($(".manual2")[i]).find("#manthr").val();
                    var onelx,twolx;
                    if (one==''||two=='') {
                        alert('节点不能为空');
                    }else {
                        if (onelx_1=='人物') {
                            onelx='1';
                        }else{
                            onelx='2';
                        };
                        if (twolx_2=='人物') {
                            twolx='1';
                        }else{
                            twolx='2';
                        };
                    };
                    var rel=[[onelx,one],rel_lx,[twolx,two]];
                    rel_list.push(rel);
                };
                trans(rel_list);
            }else {
                $('#way').modal("show");
            }
        });
        
       
        function setup(information) {
            // var information=eval(information);
            if (information=='1') {
                $("#ot").text('创建成功');
            }else  {
                $("#ot").text('创建失败，可能是关系已经存在，请勿重复添加。');
            }
            // else if (information=='create success'){
            //     $("#ot").text('节点创建成功。');
            // }else if (information=='The current two nodes already have a relationship') {
            //     $("#ot").text('关系已经存在，请勿重复添加。');
            // };
            $('.upload333').modal("show");
        }
        
        

    </script>
{% endblock %}
