{% extends "public_nav.html" %}
{% block title %}<title>图谱管理 - 编辑图谱</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/css/compile.css">
    <style type="text/css">
        .compile b,.compile a {
            color: #0099FF!important;
        }
    </style>
{% endblock %}

{% block main %}
<div id="container">
    <div class="conleft">
        <p class="lfone">节点编辑</p>
        <p class="lftwo">关系编辑</p>
    </div>
    <div class="conright">
        <div class="crt1">
            <div class="crt111">
                <span>节点类型：</span>
                <select name="" id="list1" onchange='leixing(this.value)'>
                    <option value="" disabled selected>请选择事件类型</option>
                    <option value="人物">人物</option>
                    <option value="事件">事件</option>
                </select>
            </div>
            <div class="crt122">
                <span>节点名称：</span>
                <input type="text" class='uidcc'/>
            </div>
            <button class="crt133">确&nbsp;&nbsp;&nbsp;&nbsp;定</button>
        </div>
        <div class="crt2" style="width:400px;">
            <div class="crt2lf" id='crt2lf'>
                
            </div>
            <p class='jump' style='float:left;font-size:12px;margin: 5px 0px 0 50px;display:none;'>
                    <!-- <label class="radio-inline">
                        <input type="radio" name="ioja" value="option1"> 1跳
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="ioja" value="option2"> 2跳
                    </label>
                    <label class="radio-inline">    
                        <input type="radio" name="ioja" value="option2" checked> 全部
                    </label> -->
                    <button class="add22" type="button" data-toggle="modal">添加</button>
            </p> 
            <div class="crt2rg" style="float: left;margin: 40px 0 0 -70px;display:none;">
                
            </div>
        </div>
    </div>
    <div class="conright2" style="display: none">
        <div class="editor">
            <div class="checkbox editor1">
                <label>
                    <input type="checkbox"> 输入节点1
                </label>
            </div>
            <input type="text" class="editor111" style="width: 230px;padding: 5px;font-size: 12px"/>
            <div class="checkbox editor2" style="margin-left: 50px">
                <label>
                    <input type="checkbox"> 输入节点2
                </label>
            </div>
            <input type="text" class="editor222" style="width: 230px;padding: 5px;font-size: 12px"/>
            <button class="editor3">确定</button>
        </div>
        <div class="listcell">
            <div class="lcleft" style="display:none;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>节点1</th>
                            <th>节点2</th>
                            <th>关系</th>
                            <th>编辑</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>潘强</td>
                            <td>徐丽萍</td>
                            <td>朋友</td>
                            <td><a class='xiugai'>修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class='delt' data-toggle="modal">删除</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>潘强</td>
                            <td>徐丽萍</td>
                            <td>朋友</td>
                            <td><a class='xiugai'>修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class='delt' data-toggle="modal">删除</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>潘强</td>
                            <td>徐丽萍</td>
                            <td>朋友</td>
                            <td><a class='xiugai'>修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class='delt' data-toggle="modal">删除</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="lcright" style='display:none;'>
                <p class="lcr1">
                    <span class="lcrone">潘强</span>
                    <span class="icon icon-paperclip"></span>
                    <span class="lcrtwo">徐丽萍</span>
                </p>
                <div class="checkbox lcr2">
                    <p class="chosion">
                        选择关系
                    </p>
                    <label>
                        <input type="checkbox" value="option1">  关系1
                    </label>
                    <label>
                        <input type="checkbox" value="option1">  关系1
                    </label>
                    <label>
                        <input type="checkbox" value="option1">  关系1
                    </label>
                    <label>
                        <input type="checkbox" value="option1">  关系1
                    </label>
                    <label>
                        <input type="checkbox" value="option1">  关系1
                    </label>
                    <label>
                        <input type="checkbox" value="option1">  关系1
                    </label>
                    <label>
                        <input type="checkbox" value="option1">  关系1
                    </label>
                    <label>
                        <input type="checkbox" value="option1">  关系1
                    </label>
                    <label>
                        <input type="checkbox" value="option1">  关系1
                    </label>
                    <label>
                        <input type="checkbox" value="option1">  其他
                    </label>
                    <input type="text" class="other" style="border: 1px solid #a5a5a5;width: 150px;margin-left: -40px"/>
                    <button class="yes" type="button" data-toggle="modal">确定</button>
                    <div class="modal fade yes22" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="mySmallModalLabel">提示信息</h4>
                                </div>
                                <div class="modal-body" style="text-align: center">
                                    修改成功
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join1" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">删除提示</h2>
            </div>
            <div class="modal-body">
                <p>您确定删除吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join6" tabindex="-3">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">编辑专题</h2>
            </div>
            <div class="modal-body">
                <div class="xinzeng" style="margin-top: 20px;padding-left: 20px;">
                            <!-- <p class="tit">新建专题</p> -->
                            <form style="margin-left: 40px;">
                                <span class="xz1">群体名称</span>
                                <select name="" id="list1" onchange='check(this.value)'>
                                    <option value="" disabled selected>请选择群体名称</option> 
                                    <option value="新建群体">新建群体</option>
                                    <option value="律师群体">律师群体</option>
                                </select>
                                <input type="text" class="shuru2" placeholder="请输入群体名称"/>
                            </form>
                            <div class="shij">
                                <span class="sjr">加入人物</span>
                                <a class="sj1">邓海峰 <b class="icon icon-remove det"></b> </a>
                                <a class="sj2">潘强 <b class="icon icon-remove det"></b> </a>
                            </div>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join4" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">温馨提示</h2>
            </div>
            <div class="modal-body">
                <p>您已选择此专题，选择完毕后请点击右上角 “ 添加 ” 按钮，加入到专题中O(∩_∩)O<br>
                    如您不需要可以再次点击取消选择专题</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join5" tabindex="-1">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">编辑专题</h2>
            </div>
            <div class="modal-body">
                <div class="xinzeng" style="margin-top: 20px;padding-left: 20px;">
                    <!-- <p class="tit">专题编辑</p> -->
                    <form style="margin-left: 40px;">
                        <span class="xz1">专题名称</span>
                        <select name="" id="list1" onchange='check2(this.value)'>
                            <option value="" disabled selected>请选择专题名称</option> 
                            <option value="新建专题">新建专题</option>
                            <option value="电信诈骗">电信诈骗</option>
                        </select>
                        <input type="text" class="shuru2" placeholder="请输入专题名称" style='display:none'/>
                    </form>
                    <div class="shij">
                        <span class="sjr">加入事件</span>
                        <a class="sj1">徐玉玉事件 <b class="icon icon-remove det"></b> </a>
                        <a class="sj2">大学生失联 <b class="icon icon-remove det"></b> </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<style>
                    .main {
                        /*height: 500px;*/
                        padding:0 30px;
                    }
                    .main .topright input,.main .topright select,.main .bottom input {
                        width: 100px;
                        padding:2px 5px;
                        border: 1px solid #5e5e5e;
                        font-size: 12px;
                        color: #5e5e5e;
                        font-weight: 600;
                    }
                    .main .rgone,.main .rgtwo,.main .rgthr {
                        margin-bottom: 12px;
                    }
                    .main .rgone,.main .rgtwo,.main .rgthr,.main .rgfour {
                        margin-left: 20px;
                    }
                    .main .top {
                        height: 150px;
                        margin-top: 20px;
                    }
                    .main .bottom {
                        width: 100%;
                        margin-top: 20px;
                    }
                    .main .bottom input {
                        width: 160px;
                    }

                </style>
<div class="modal fade editmd" id="join7" tabindex="-3">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">编辑群体</h2>
            </div>
            <div class="modal-body">
                <div class="main">
                    <div class="top">
                        <div class="topleft" style="float: left">
                            <img src="" alt="" width="110" height="140"/>             
                        </div>
                        <div class="topright" style="float: left;margin-top: 6px">
                            <div class="rgone">
                            人物名称 <input type="text" class="sjmc" value="" style="margin:0 20px"/>
                            粉丝数 <input type="text" class="fss"  value="" style="margin-left:15px"/>
                            </div>
                            <div class="rgtwo">
                                影响力 &nbsp;&nbsp;&nbsp;<input type="text" class="fssj" style="margin:0 20px"/>
                                活跃度&nbsp;<input type="text" class="hyd"  style="margin-left:16px"/>
                            </div>
                            <div class="rgthr">
                                敏感度 <input type="text" class="mgd"  style="margin:0 32px"/>
                                领域 
                                <select class="ly" style="margin-left:18px">
                                    <!-- <option value="商业人士">商业人士</option> -->
                                </select>
                            </div>
                            <div class="rgfour">
                                注册地 &nbsp;
                                <select class="zcd" style="margin:0 24px">
                                    <!-- <option value="北京">北京</option> -->
                                </select>
                                活跃地
                                <select class="hydi" style="margin-left:12px">
                                    <!-- <option value="北京">北京</option> -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        
                        <div class="bottwo" style="margin-bottom: 10px">
                            业务标签&nbsp;&nbsp;&nbsp;&nbsp;
                            <span style="padding: 2px;background-color: #0099FF;color: #ffffff;border-radius:5px;font-weight: 600">企业家 <b class="icon icon-remove det"></b></span>
                        </div>
                        <div class="botthr" style="margin-bottom: 10px">
                            个人描述&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="text" class="miaoshu">
                        </div>
                        <div class="botfour" style="margin-bottom: 10px">
                            <span>相关媒体</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="meiti" style="display: inline-block">
                                <span style="padding: 2px;background-color: #0099FF;color: #ffffff;
                                    border-radius:5px;font-weight: 600">百度百科 
                                    <b class="icon icon-remove det"></b>
                                </span>
                            </div>
                            <span style='float:right;'>
                                <b class="icon icon-plus zeng1"></b>
                            </span> 
                            <div class="mingcheng" style="margin-top: 10px">
                                媒体名称 &nbsp;&nbsp;&nbsp;&nbsp;<input type="text"/>
                                url &nbsp;&nbsp;&nbsp;&nbsp;<input type="text">
                            </div>
                        </div>
                        <div class="botfive" style="margin-bottom: 10px">
                            <span>业务描述</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="meiti" style="display: inline-block">
                                <span style="padding: 2px;background-color: #0099FF;color: #ffffff;
                                        border-radius:5px;font-weight: 600">业务文档1
                                    <b class="icon icon-remove det"></b>
                                </span>
                            </div>
                            <span style='float:right;'>
                                <b class="icon icon-plus zeng2"></b>
                            </span> 
                            <div class="mingcheng" style="margin-top: 10px">
                                业务名称&nbsp;&nbsp;&nbsp;&nbsp; <input type="text"/>
                                url &nbsp;&nbsp;&nbsp;&nbsp;<input type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<script src="/static/js/compile.js"></script>
<script src="/static/js/bootstrap-table.min.js"></script>
<script src="/static/js/bootstrap-table-zh-CN.min.js"></script>
<script>
    $.each($(".delt"),function(index,item){
        $(item).on('click',function(){
            $('#join1').modal("show");
            // $(item).parents('tr').hide();
        });
    })
    // var td2=$(".conright .table tr").find('td');
    // $.each(td2,function(index,item){
    //     $(item).on('click',function () {
    //         if (index==1) {
    //             $(".conright .crt2rg").show(100);
    //             $(".conright .jump").show(100);
    //         };           
    //     })
    // });
    $("#container .conright2 .editor .editor3").on('click',function () {
        $('.lcleft').show(20);
    });
    var xiu=$("#container .conright2 .listcell tr");
    $.each(xiu,function(index,item){
        $(item).on('click',function(){
            $('.lcright').show(20);
        })
    });
    // $.each($('.xiugai'),function(index,item){
    //     $(item).on('click',function(){
    //         $('#join7').modal("show");
    //     })
    // })
    $.each($('.zeng1'),function(index,item){
        $('.zeng1').on('click',function(){
            var ming=$(this).parent().next().html();
            var str ="<div class='mingcheng' style='margin-top:10px;'>"+ming+"</div>"
            $(this).parent().next().after(str);
        });
    });
    $('.conright .add22').on('click',function () {
        $('#join6').modal("show");
    });
    $('.conright2 .add22').on('click',function () {
        $('#join5').modal("show");
    });
    $('#container .conright .crt1 .crt133').on('click',function(){
        $("#container .conright .crt2").show(20);
    })
    $.each($('.menuList'),function(index,item){
        $(item).css({display:'none'});
        if (index==1) {
            $(item).css({display:'block'});
        };
    });
    $('.yes').on('click',function () {
        $('.yes22').modal("show");
    });
    $(".lfone").on('click',function () {
        $(".conright").css({display:'block'});
        $(".conright2").css({display:'none'});
    });
    $(".lftwo").on('click',function () {
        $(".conright").css({display:'none'});
        $(".conright2").css({display:'block'});
    });
    $.each($('.conright .xingming'),function(index,item){
        $(item).on('click',function () {
            window.open('/index/person/');
        })
    })
    var play=$("#container .conright .play");
        $.each(play,function (index,item) {
            $(item).hover(function () {
                $(item).find(".play5").css({
                    "-webkit-transform":"translateY(-40px)",
                    "-moz-transform":"translateY(-40px)",
                    "-ms-transform":"translateY(-40px)",
                    "-o-transform":"translateY(-40px)",
                    "transform":"translateY(-40px)",
                })
            },function () {
                $(item).find(".play5").css({
                    "-webkit-transform":"translateY(40px)",
                    "-moz-transform":"translateY(40px)",
                    "-ms-transform":"translateY(40px)",
                    "-o-transform":"translateY(40px)",
                    "transform":"translateY(40px)",
                })
            });
        });
        $.each(play,function (index,item) {
            var changecolor=1;
            $(item).find(".play5").on('click',function(){
                if (changecolor==1) {
                    $(this).parent('.play').css({backgroundColor:'#09F'});
                    changecolor=2;
                    $(this).find('a').text('取消群体探索');
                    $('#join4').modal("show");
                } else {
                    $(this).parent('.play').css({backgroundColor:'#d2dcf7'});
                    changecolor=1;
                    $(this).find('a').text('加入群体探索');
                }
            }); 
        });
        var heart=$(".play .play1 .p11 .xin");
        $.each(heart,function(index,item){
            var chan=1;
            $(item).on('click',function(){
                if (chan==1) {
                    $(this).attr('src','/static/image/focus.png');
                    chan=2;
                }else {
                    $(this).attr('src','/static/image/heart.png');
                    chan=1;
                }
                
            })
        });
        function check(value){
            if (value=='新建群体') {
                $('.shuru2').show();
            }else{
                $('.shuru2').hide();
            };
        };
        function check2(value){
            if (value=='新建专题') {
                $('.shuru2').show();
            }else{
                $('.shuru2').hide();
            };
        };
</script>
{% endblock %}
