{% extends "public_nav.html" %}
{% block title %}<title>首页</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/homepage.css">
{% endblock %}
{% block main %}
    <div id="container">
        <div class="con_lf">
            <div class="clf_t">
                <div class="peo">
                    <span class="png"><img src="/static/image/people.png" alt=""></span>
                    <span class="number number1"></span>
                    <span class="new">本周入库人数：</span><span class="new new1"></span>
                </div>
                <div class="things">
                    <span class="png"><img src="/static/image/things.png" alt=""></span>
                    <span class="number number2"></span>
                    <span class="new">本周入库事件：</span><span class="new new2"></span>
                </div>
            </div>
            <div class="clf_bot">
                <p class="update">最近更新</p>
                <p class="chars">
                    <button class="atlas" style="background-color: #09F;">图谱</button><!--
                    --><button class="map">地图</button>
                </p>
                <div id="statis1">

                </div>
                <div id="statis2" style="display: none;">

                </div>
            </div>
        </div>
        <div class="con_rg">
            <div class="conrgt">
                <p class="subject">专题统计</p>
                <div id="special">

                </div>
            </div>
            <div class="colony">
                <p class="group">群体统计</p>
                <div id="groupevents">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block my_js %}  
    <script src="/static/js/homepage1.js"></script>
    <script src="/static/js/homepage2.js"></script>
    <script src="/static/js/homepage3.js"></script>
    <script>
        $(".atlas").on('click',function () {
            $(this).css({backgroundColor:"#09F"}).siblings().css({backgroundColor:""});
            $("#statis1").css({display:'block'});
            $("#statis2").css({display:'none'});
        });
        $(".map").on('click',function () {
            $(this).css({backgroundColor:"#09F"}).siblings().css({backgroundColor:""});
            $("#statis2").css({display:'block'});
            $("#statis1").css({display:'none'});
        });
        //发出请求----本周人数，事件
        function place() {
            //this.ajax_method='GET'; // body...
        }
        place.prototype= {
            call_request:function(url,callback) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    async: true,
                    success:callback
                });
            },
        };
        function territory(data) {
            $(".number1").append(data[0]);
            $(".number2").append(data[1]);
            $(".new1").append(data[2]);
            $(".new2").append(data[3]);
        }

        var place=new place();
        function nums() {
            var url = '/index/current_week_increase/';
            place.call_request(url,territory);
        }
        nums();
    </script>
{% endblock %}
