{% extends "public_nav.html" %}
{% block title %}<title>人物节点</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/person.css">
    <style type="text/css">
    #container .associat .assright .assright2 .play23 a {
        display: block;
        margin-top: 5px;
        color: #000;
        font-weight: bold;
        font-size: 10px;
    }
    #container .associat .assright .assright2 .play23 a span {
        font-weight: 100;
        padding-left: 20px;
    }
    #container .associat .assright .assright2 .play23 a {
        margin-top: 10px;
    }
    #container .associat .assright .assright2 .play .play5 {
        top: 15px;
    }
    span.dian {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #777;
        margin-left: 40px;
    }
    .checkbox,.radio {
        margin: 5px 0;
    }
</style>
{% endblock %}

{% block main %}
    <div id="container">
        <div class="keyman">
            <div class="kmlf" style="margin-top: 20px">
                <img class="kmimg" src="" alt=""/>
            </div>
            <div class="kmrg">
                <div class="kmrg1">
                    <div class="rgname">
                        <span class="xingming" style="max-width:560px;white-space: nowrap;
                        overflow: hidden;text-overflow:ellipsis;
                        color: #000;font-weight: 900;font-size: 38px;margin-left: 15px;"></span>
                        <img src="/static/image/fensishu.png" title="粉丝数" style="margin-left: 30px">
                        <span class="difang" style="font-size: 8px"></span>
                        <img src="/static/image/influence.png" title="影响力" style="margin-left: 10px">
                        <span class="influence"></span>
                        <img src="/static/image/huoyuedu.png" title="活跃度" style="margin-left: 10px">
                        <span class="huoyuedu"></span>
                        <img src="/static/image/mingan.png" title="敏感度" style="margin-left: 10px">
                        <span class="mingan"></span>
                    </div>
                </div>
                <div class="kmrg2" style="margin-left: 15px;">
                    <p>注册地:  <span class="zhuce"></span></p>
                    <p>活跃地： <span class="huoyue"></span></p>
                    <p>身份:  <span class="renzheng"></span></p>
                    <p>话题： <span class="lingyu"></span></p>
                    <p>业务标签：<span class="yewu"></span></p>
                    <p>个人描述：<span class="miaoshu"></span></p>
                    <p class="rgcreat">
                        节点创建时间：  <span class="date"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                        创建人：  <span class="peson"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="icon icon-pencil edit" data-toggle="modal" style="cursor: pointer">编辑</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="history" data-toggle="modal" style="cursor: pointer">修改历史</span>
                        <div class="modal fade histant" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <table class="table">
                                        <caption style="font-size: 20px;font-weight: 900">修改历史</caption>
                                        <thead>
                                        <tr>
                                            <th>操作</th>
                                            <th>时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>admin  增加业务标签：“企业家</td>
                                            <td>2016-09-12 12:22</td>
                                        </tr>
                                        <tr>
                                            <td>admin  增加业务标签：“企业家</td>
                                            <td>2016-09-12 12:22</td>
                                        </tr>
                                        <tr>
                                            <td>admin  增加业务标签：“企业家</td>
                                            <td>2016-09-12 12:22</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="mapion">
            <p class="mapion1">图谱信息</p>
            <div class="mapion2">
                <div id="middle">
                    <div class="midleft">
                        <div id="eventimg">

                        </div>
                    </div>
                    <div class="midmid">
                        <p class="pane">交互面板</p>
                        <div class="condition">
                        <!--111-->
                        <span class="cdt1" style="display: block;margin: 5px 0 0 20px;color: #777;font-size: 14px">节点筛选</span>
                        <div class="cdt2">
                            <div class="checkbox">
                                <label style="display: block;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                    <input id='user' class="per" type="checkbox" checked/> 人物
                                </label>
                                <label style="display: block;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                    <input id="event" class="per" type="checkbox"/> 事件
                                </label>
                            </div>
                        </div>
                        <!--222-->
                        <span class="cdt3" style="display: block;margin: 5px 0 0 20px;color: #777;font-size: 14px">关系筛选</span>
                        <div class="cdt4">
                            <div class="checkbox" style=''>
                                <span class="dian"></span>
                                <span style='display:inline-block;margin: 5px 0 0 0px;color: #777;font-size: 12px;'>
                                    人物 - 事件关系
                                </span>
                                <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                    <input id='join' class="join" type="checkbox" checked/> 参与讨论
                                </label>
                                <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                    <input id='pusher' class="pusher" type="checkbox" checked/> 趋势推动
                                </label>
                                <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                    <input id='make' class="make" type="checkbox" checked/> 趋势制造
                                </label>
                                <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                    <input id='other' class="other" type="checkbox" checked/> 其他关系
                                </label>
                            </div>
                            <div class="checkbox" class='evnt' style=''>
                                <span class="dian"></span>
                                <span style='display: inline-block;margin: 5px 0 0 0px;color: #777;font-size: 12px;'>
                                    人物 - 人物关系
                                </span>
                                <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                    <input id='friend' class="emain" type="checkbox" checked/> 交互
                                </label>
                                <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                    <input id='relative' class="evother" type="checkbox" checked/> 亲属
                                </label>
                                <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                    <input id='colleague' class="emain" type="checkbox" checked/> 业务关联
                                </label>
                                <label style="display: block;margin-top:5px;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                    <input id='user_tag' class="evother" type="checkbox" checked/> 其他
                                </label>
                            </div>
                        </div>
                        <!--333-->
                        <span class="cdt3" style="display: block;margin: 5px 0 0 20px;color: #777;font-size: 14px">节点扩展</span>
                        <div class="cdt4" style=''>
                            <div class="radio" style="display: block;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                <label>
                                    <input type="radio" name="yier" id="zero" value="option1"
                                    checked>
                                    不扩展
                                </label>
                            </div>
                            <div class="radio" style="display: block;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                <label>
                                    <input type="radio" name="yier" id="onecg" value="option1">
                                    扩展一层
                                </label>
                            </div>
                            <div class="radio" style="display: block;margin-left: 50px;color: #9d9d9d;font-size: 12px">
                                <label>
                                    <input type="radio" name="yier" id="twocg" value="option2">
                                    扩展二层
                                </label>
                            </div>
                        </div>
                        <!--444-->
                        <button class="cdt5" style='margin-top:2px;'>确定</button>
                    </div>
                    </div>
                    <div class="midright" style="margin-right: 0">
                        <div id="placeimg">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="associat" style="height: 380px;">
            <div class="assleft">
                <p class="assleft1">关联人物</p>
                <div class="assleft2">
                    <div class="often">
                        <p style="font-size: 14px;font-weight: 700;color: #333">频繁交互</p>
                        <div class="oftenimg" style="margin:20px 0 20px 40px">
                            <!-- <dl style="width: 55px;margin-right: 15px;display: inline-block">
                                <dt><img src="/static/image/pangzi.png" alt=""></dt>
                                <dd style="text-align: center;font-size: 8px;margin-top: 5px">被转发</dd>
                            </dl> -->
                        
                        </div>
                    </div>
                    <!-- <hr style="border-style: dashed;border-color: #333333"/> -->
                    <div class="social">
                        <p style="font-size: 14px;font-weight: 700;color: #333">社会关系</p>
                        <div class="oftenimg" style="margin:20px 0 20px 40px">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="assright" style="margin-left: 40px;">
                <p class="assright1">
                <p class='guanlian' style='display:inline-block;'>关联事件</span>
                <!-- <p class="xuan" style='display:inline-block;float:right;'>
                    <label class="radio-inline">
                        <input type="radio" name="idiefo" value="option1"> 1跳
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="idiefo" value="option2"> 2跳
                    </label>
                    <label class="radio-inline">    
                        <input type="radio" name="idiefo" value="option2" checked> 全部
                    </label>
                    <button class="add22" type="button" data-toggle="modal">添加</button>
                </p>  -->             
            </p>
            <div class="assright2" style='padding:5px 0 0px 10px;'>
                <img src="/static/image/left.png" alt="" class="left" style='margin-right:5px;'>
                <div id="case" style="float:left;width:490px;height:360px;overflow: hidden;">
                    <div id='crmid' style='width:490px;'>
                        <div id="run" style="height:360px;transition: all 1s linear;">
                            
                        </div>
                    </div>
                </div>
                <img src="/static/image/right.png" alt="" class="right">
            </div>
            </div>
        </div>
        <div class="correlation">
            <p class="correlation1">相关微博</p>
            <div class="correlation2">
                <div class="twleft">
                    <p class="lfone">高影响力微博</p>
                    <p class="lftwo">敏感微博</p>
                </div>
                <div class="twright">
                    <div id="group_emotion_loading" style="display:block;text-align:center;">
                        正在加载，请稍后...
                    </div>
                    <div id="influeweibo" style="overflow-x: auto; overflow-y: auto;height:320px;">
                        <table id="input-table" class="In-table">
                            <tbody class="In-table">
                            </tbody>
                        </table>
                    </div>
                    <div class='fanye' style="width:100%;text-align:center;">
                          <span style="display:inline-block;">每页显示<input type="text" id="PageNo" size="3" value="3" style='text-align:center;border:1px solid #ccc;'/>组</span>
                          <div id="div-button" style="display:inline-block;margin-left:5px;">
                              <input type="button" value="首页" id="F-page" style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                              <input type="button" value="上一页" id="Pre-page" style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                              <input type="button" value="下一页" id="Nex-page" style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                              <input type="button" value="尾页" id="L-page" style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                          </div>

                    <span style="display:inline-block;">&nbsp;当前第<span id="s2"></span>页</span>
                    <span style="display:inline-block;">总共<span id="s1"></span>页</span>
                
                </div>
            </div>
        </div>
        <div class="medias" style="margin-top: 80px">
            <p class="medias1">相关微博</p>
            <div class="medias2">
                <a href="https://baike.baidu.com/" class="baike"><img src="/static/image/baike.png" alt=""></a>
                <a href="http://weibo.com/" class="sina"><img src="/static/image/weibo.png" alt=""></a>
            </div>
        </div>
        <div class="fesswork" style="margin-top: 30px">
            <p class="fesswork1">业务描述</p>
            <div class="fesswork2">
                <p style="margin-left: 20px">暂无业务描述······</p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="join2" tabindex="-2">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">温馨提示</h2>
            </div>
            <div class="modal-body">
                <p>您已选择此专题，选择完毕后请点击右上角 “ 添加 ” 按钮，加入到专题中O(∩_∩)O<br>
                    如您不需要可以再次点击取消选择专题</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="join6" tabindex="-3">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">编辑专题</h2>
            </div>
            <div class="modal-body">
                <div class="xinzeng" style="margin-top: 20px;padding-left: 20px;">
                            <!-- <p class="tit">新建专题</p> -->
                            <form style="margin-left: 40px;">
                                <span class="xz1">群体名称</span>
                                <select name="" id="list1" onchange='check(this.value)'>
                                    <option value="" disabled selected>请选择群体名称</option> 
                                    <option value="新建群体">新建群体</option>
                                    <option value="律师群体">律师群体</option>
                                </select>
                                <input type="text" class="shuru2" placeholder="请输入群体名称"/>
                            </form>
                            <div class="shij">
                                <span class="sjr">加入人物</span>
                                <a class="sj1">邓海峰 <b class="icon icon-remove det"></b> </a>
                                <a class="sj2">潘强 <b class="icon icon-remove det"></b> </a>
                            </div>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    .main {
        /*height: 500px;*/
        padding:0 30px;
    }
    .main .topright input,.main .topright select,.main .bottom input {
        width: 100px;
        padding:2px 5px;
        border: 1px solid #5e5e5e;
        font-size: 12px;
        color: #5e5e5e;
        font-weight: 600;
    }
    .main .rgone,.main .rgtwo,.main .rgthr {
        margin-bottom: 12px;
    }
    .main .rgone,.main .rgtwo,.main .rgthr,.main .rgfour {
        margin-left: 20px;
    }
    .main .top {
        height: 150px;
        margin-top: 20px;
    }
    .main .bottom {
        width: 100%;
        margin-top: 20px;
    }
    .main .bottom input {
        width: 160px;
    }

</style>
<div class="modal fade editmd" id="join" tabindex="-3">
    <div class="modal-dialog">
        <div class=modal-content>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">编辑群体</h2>
            </div>
            <div class="modal-body">
                <div class="main">
                    <div class="top">
                        <div class="topleft" style="float: left">
                            <img src="/static/image/pan.jpg" alt="" width="110" height="140"/>             
                        </div>
                        <div class="topright" style="float: left;margin-top: 6px">
                            <div class="rgone">
                            人物名称 <input type="text" class="sjmc" value="潘强" style="margin:0 20px"/>
                            粉丝数 <input type="text" class="fss"  style="margin-left:15px"/>
                            </div>
                            <div class="rgtwo">
                                影响力 &nbsp;&nbsp;&nbsp;<input type="text" class="fssj" style="margin:0 20px"/>
                                活跃度&nbsp;<input type="text" class="hyd"  style="margin-left:16px"/>
                            </div>
                            <div class="rgthr">
                                敏感度 <input type="text" class="mgd"  style="margin:0 32px"/>
                                领域 
                                <select name="" style="margin-left:18px">
                                    <option value="商业人士">商业人士</option>
                                </select>
                            </div>
                            <div class="rgfour">
                                注册地 &nbsp;
                                <select name="" style="margin:0 24px">
                                    <option value="北京">北京</option>
                                </select>
                                活跃地
                                <select name="" style="margin-left:12px">
                                    <option value="北京">北京</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        
                        <div class="bottwo" style="margin-bottom: 10px">
                            业务标签&nbsp;&nbsp;&nbsp;&nbsp;
                            <span style="padding: 2px;background-color: #0099FF;color: #ffffff;border-radius:5px;font-weight: 600">企业家 <b class="icon icon-remove det"></b></span>
                        </div>
                        <div class="botthr" style="margin-bottom: 10px">
                            个人描述&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="text" class="miaoshu">
                        </div>
                        <div class="botfour" style="margin-bottom: 10px">
                            <span>相关媒体</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="meiti" style="display: inline-block">
                                <span style="padding: 2px;background-color: #0099FF;color: #ffffff;
                                    border-radius:5px;font-weight: 600">百度百科 
                                    <b class="icon icon-remove det"></b>
                                </span>
                            </div>
                            <span style='float:right;'>
                                <b class="icon icon-plus zeng1"></b>
                            </span> 
                            <div class="mingcheng" style="margin-top: 10px">
                                媒体名称 &nbsp;&nbsp;&nbsp;&nbsp;<input type="text"/>
                                url &nbsp;&nbsp;&nbsp;&nbsp;<input type="text">
                            </div>
                        </div>
                        <div class="botfive" style="margin-bottom: 10px">
                            <span>业务描述</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="meiti" style="display: inline-block">
                                <span style="padding: 2px;background-color: #0099FF;color: #ffffff;
                                        border-radius:5px;font-weight: 600">业务文档1
                                    <b class="icon icon-remove det"></b>
                                </span>
                            </div>
                            <span style='float:right;'>
                                <b class="icon icon-plus zeng2"></b>
                            </span> 
                            <div class="mingcheng" style="margin-top: 10px">
                                业务名称&nbsp;&nbsp;&nbsp;&nbsp; <input type="text"/>
                                url &nbsp;&nbsp;&nbsp;&nbsp;<input type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block my_js %}
<script type="text/javascript">
    var uid='{{p_uid}}';
    // console.log(uid);
    // $("#container .present .preone .preonemd").html(theme_explanation);
</script>

<script>
    $('.history').on('click',function () {
        $('.histant').modal("show");
    });
    $('.add22').on('click',function () {
        $('#join6').modal("show");
    });
     $('.edit').on('click',function () {
        $('.editmd').modal("show");
    });
    function check(value){
        if (value=='新建群体') {
            $('.shuru2').show();
        }else{
            $('.shuru2').hide();
        };
    }
    $.each($(".det"),function(index,item){
        $(item).on('click',function(){
            $(this).parent().fadeOut(300);
        });
    });
    $.each($('.zeng1'),function(index,item){
        $('.zeng1').on('click',function(){
            var ming=$(this).parent().next().html();
            var str ="<div class='mingcheng' style='margin-top:10px;'>"+ming+"</div>"
            $(this).parent().next().after(str);
        });
    });
    
    $("#container .correlation2 .twleft .lfone").on('click',function(){
        $(this).css({backgroundColor:'#00cc66'});
        $("#container .correlation2 .twleft .lftwo").css({backgroundColor:'#0099ff'});
    });
    $("#container .correlation2 .twleft .lftwo").on('click',function(){
        $(this).css({backgroundColor:'#00cc66'});
        $("#container .correlation2 .twleft .lfone").css({backgroundColor:'#0099ff'});
    })

    $(' #container .associat .assright .assright2 .left').hover(function () {
        $(this).attr('src','/static/image/left_hv.png');
    },function () {
        $(this).attr('src','/static/image/left.png');
    });
    $(' #container .associat .assright .assright2 .right').hover(function () {
        $(this).attr('src','/static/image/right_hv.png');
    },function () {
        $(this).attr('src','/static/image/right.png');
    });

    function peokapian(){
        function place() {
            //this.ajax_method='GET'; // body...
        }
        place.prototype= {
            call_request:function(url,callback) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    async: true,
                    success:callback
                });
            },
        };
        function territory(data) {
            var data=eval(data);
            var location,tag,description,srcimg,name;
            function getLocalTime(nS) {     
               return new Date(parseInt(nS) * 1000).toLocaleString().substr(0,10).replace(/:\d{1,2}$/,' ');    
            }  
            if (data.photo_url=='unknown'||data.photo_url=='') {
                srcimg='/static/image/pan.jpg';
            }else{
                srcimg=data.photo_url;
            }; 
            if (data.location=='unknown'||data.location=='') {
                location='暂无';
            }else {
                location=data.location;
            };
            if (data.tag=='null'||data.tag=='') {
                tag='暂无';
            }else {
                tag=data.user_tag;
            };
            if (data.description=='') {
                description='暂无';
            }else {
                description=data.description;
            };
            if (data.uname=='unknown'||data.uname=='') {
                name=uid;
            }else {
                name=data.uname;
            };
            var str_huoyuedi;
            if (!(data.activity_geo.indexOf('&')==-1)) {
                str_huoyuedi=data.activity_geo.replace(/&/g,' ');
                if (!(str_huoyuedi.indexOf('局域网')==-1)) {
                    str_huoyuedi = str_huoyuedi.replace(/局域网/g, "");
                };
            }else{
                str_huoyuedi=data.activity_geo;
            };
            
            // var pattern = "局域网";
            $('#container .keyman .kmlf .kmimg').attr('src',srcimg)
            $("#container .keyman .kmrg .rgname .xingming").append(name);
            $("#container .keyman .kmrg .rgname .xingming").attr('title',name);
            $("#container .keyman .kmrg .rgname .difang").append(data.fansnum);
            $("#container .keyman .kmrg .rgname .influence").append(data.influence.toFixed(2));
            $("#container .keyman .kmrg .rgname .huoyuedu").append(data.activeness.toFixed(2));
            $("#container .keyman .kmrg .rgname .mingan").append(data.sensitive.toFixed(2));
            $("#container .keyman .kmrg .kmrg2 .zhuce").append(location);
            $("#container .keyman .kmrg .kmrg2 .huoyue").append(str_huoyuedi);
            $("#container .keyman .kmrg .kmrg2 .renzheng").append(data.domain);
            $("#container .keyman .kmrg .kmrg2 .lingyu").append(data.topic_string.replace(/&/g,' '));
            $("#container .keyman .kmrg .kmrg2 .yewu").append(tag);
            $("#container .keyman .kmrg .kmrg2 p .miaoshu").append(description);
            $("#container .keyman .kmrg .kmrg2 .rgcreat .date").append(getLocalTime(data.create_time));
            $("#container .keyman .kmrg .kmrg2 p.rgcreat .peson").append(data.create_user);
        };
        var place=new place();
        function nums() {
            var url = '/index/person_detail/?uid='+uid;
            place.call_request(url,territory);
        }
        nums();
    }
    peokapian();

</script>
<script src="/static/js/person.js"></script>
<script src="/static/js/person2.js"></script>
{% endblock %}